{% extends 'OptimusOptimusBundle:Layouts:layout.html.twig' %}
{# extends Bundle - carpeta - archivo twig#}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('bundles/optimus/js/jquery-1.11.1.min.js') }}"></script>
	<script  type="text/javascript" src="{{ asset('bundles/optimus/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
{% endblock %}

{% block content %}  	
			
	<div id="left">		
		<p class="titleContentDescription"><strong>{{ optimus_instance }} </strong></p>				
		<div id="attributesContentDescription">
			<p><span>{%trans%} Buildings {%endtrans%}:</span>2</p>
			<p><span>{%trans%} Total surface {%endtrans%}:</span> 18.593m2 </p>
			<p><span>{%trans%} Renewable generation {%endtrans%}:</span> PV plant (23 MWh)</p>
			<p><span>{%trans%} Thermal power {%endtrans%}:</span> 850 kW </p>
			<p><span>{%trans%} Electrical power {%endtrans%}:</span> 440 kW</p>
			<p><span>{%trans%} Total energy consumption {%endtrans%}:</span> 2157kWh/m2</p>
			<p><span>{%trans%} CO2 emissions {%endtrans%}:</span> PV plant (23 MWh)</p>
		</div>
	</div>
	
	<div id="right" style="border:0px;">
		<div id="topRight" style="background-color:#e8eef8; margin-bottom:20px;">
			<p style="margin:16px 10px;"><strong><a href="{{ path('adminBuilding') }}">{{ optimus_instance }}</a> > {%trans%} List of buildings {%endtrans%}</strong> </p>			
		</div>
		<div id="centerRight">	
			<!--
			<div style="overflow:hidden; margin-bottom:20px;">
				<img   src="{{ asset('bundles/optimus/img/mapOptimus.png') }}"/>
			</div>
			-->
			
			
			
			<div>
				<button id="button_addBuilding" class="buttonBig">{%trans%} ADD BUILDING {%endtrans%}</button> <!-- border:1px solid #ddd; float:left; margin:30px 0 20px 350px; padding:15px; cursor:pointer; color:#626262;-->
			{% for building in buildings %}					
			
				<div style="overflow:hidden; margin-bottom:10px;">
					<div style="background-color:#ddd; overflow:hidden; ">
						<p class="titleContentDescription" style="float:left;"><strong>{{ building.name }}</strong></p>
						<p style="float:left; margin:10px; padding:0;" onclick="location.href='{{ path('building_delete',{'idBuilding':building.id}) }}';" class="buttonBig">{%trans%} delete {%endtrans%}</p>
						<p style="float:left; margin:10px; padding:0;" id="button_editBuilding_{{building.id}}" class="buttonBig">{%trans%} edit {%endtrans%}</p>
						<p style="float:right; margin-left:10px;"><span style="color:#2e75b6">{%trans%} Last action {%endtrans%}:</span> 15 / 04 / 2014 8:00</p>
						<p style="float:right; margin-left:50px;"><span style="color:#2e75b6">{%trans%} Status {%endtrans%}:</span>{%trans%}  No action required {%endtrans%}</p>
					</div>
					
					<div style="background-color:#eee; overflow:hidden; ">
						<div style="float:left; width:290px; border-right:1px solid #ddd;">
							<p style="font-size:11px;"><strong> {%trans%} Building description {%endtrans%}</strong></p>

							<p style="margin:5px 10px; font-size:11px;"><span style="color:#2e75b6">{%trans%} 	Building use {%endtrans%}:</span> {{ building.useBuilding }}</p>
							<p style="margin:5px 10px; font-size:11px;"><span style="color:#2e75b6">{%trans%} 	Address {%endtrans%}: </span>{{ building.street }}</p>
							<p style="margin:5px 10px; font-size:11px;"><span style="color:#2e75b6">{%trans%} 	Year of construction {%endtrans%}:</span> {{ building.yearOfConstruction }} </p>
							<p style="margin:5px 10px; font-size:11px;"><span style="color:#2e75b6">{%trans%} 	Surface {%endtrans%}: </span>{{ building.surface }} </p>
							<p style="margin:5px 10px; font-size:11px;"><span style="color:#2e75b6">{%trans%} 	Floors {%endtrans%}:</span> 6</p>
							<p style="margin:5px 10px; font-size:11px;"><span style="color:#2e75b6">{%trans%} 	Occupancy {%endtrans%}:</span> {{ building.occupation }}</p>

						</div>
						<div style="float:left; width:580px; ">
							<p style="font-size:11px;"><strong> {%trans%}  Configuration {%endtrans%}</strong></p>
					
							<div style="border:1px solid #ddd; float:left; margin-left:30px;">
								<p style="cursor:pointer; text-decoration:underline;" onclick="location.href='{{ path('adminPartitions',{'idBuilding':building.id}) }}';"><b>{%trans%} Zones {%endtrans%}</b></p>
								<p>{{dataBuildings[building.id].partitions}}</p>
							</div>
							
							<div style="border:1px solid #ddd; float:left; margin-left:30px;">
								<p style="cursor:pointer; text-decoration:underline;" onclick="location.href='{{ path('adminSensors',{'idBuilding':building.id}) }}';"><b>{%trans%} Sensors {%endtrans%}</b></p>
								<p>{{dataBuildings[building.id].sensors}}</p>
							</div>
							
							<div style="border:1px solid #ddd; float:left; margin-left:30px;">
								<p style="cursor:pointer; text-decoration:underline;" onclick="location.href='{{ path('adminActionPlans',{'idBuilding':building.id}) }}';"><b>{%trans%} Action Plans {%endtrans%}</b></p>
								<p>{{dataBuildings[building.id].aPlans}}</p>
							</div>
							
							<div style="border:1px solid #ddd; float:left; margin-left:30px;">
								<p style="cursor:pointer; text-decoration:underline;" onclick="location.href='{{ path('globalConfigBuilding',{'idBuilding':building.id}) }}';"><b>Real time indicators</b></p>
								<p>{{dataBuildings[building.id].rTime}}</p>
							</div>

						</div>
						
					</div>
				</div>
				<div id="editBuildingForm_{{building.id}}">
					{{ render(controller('OptimusOptimusBundle:Building:edit', {'idBuilding':building.id})) }}
				</div>
			{% endfor %}
				
				<!--<div style="overflow:hidden; margin-bottom:10px;">
					<div style="background-color:#ddd; overflow:hidden; ">
						<p class="titleContentDescription" style="float:left;"><strong>Theatre</strong></p>
						<p style="float:right; margin-left:10px;"><span style="color:#2e75b6">Last action:</span> <span style="color:#C00000"> <strong>15 / 04 / 2014 8:00</strong> </span></p>
						<p style="float:right; margin-left:50px;"><span style="color:#2e75b6">Status:</span> <span style="color:#C00000"><strong> No action required</strong></span></p>
					</div>
				
					<div style="background-color:#eee; overflow:hidden;">
						<div style="float:left; width:290px; border-right:1px solid #ddd;">
							<p style="font-size:11px;"><strong> Building description</strong></p>

							<p style="margin:5px 10px; font-size:11px;"><span style="color:#2e75b6">	Building use:</span> Cultural</p>
							<p style="margin:5px 10px; font-size:11px;"><span style="color:#2e75b6">	Address: </span>Plaça de la Vila, 1</p>
							<p style="margin:5px 10px; font-size:11px;"><span style="color:#2e75b6">	Year of construction:</span> 2010</p>
							<p style="margin:5px 10px; font-size:11px;"><span style="color:#2e75b6">	Surface: </span>9.593m2  </p>
							<p style="margin:5px 10px; font-size:11px;"><span style="color:#2e75b6">	Floors:</span> 6</p>
							<p style="margin:5px 10px; font-size:11px;"><span style="color:#2e75b6">	Occupation:</span> 35 employees, 800 visitors</p>

						</div>
						<div style="float:left; width:580px; ">
							<p style="font-size:11px;"><strong> Configuration</strong></p>
							
							<div style="border:1px solid #ddd; float:left; margin-left:30px;">
								<p><b>Partitions</b></p>
								<p>23</p>
							</div>
							
							<div style="border:1px solid #ddd; float:left; margin-left:30px;">
								<p><b>Sensors</b></p>
								<p>23</p>
							</div>
							
							<div style="border:1px solid #ddd; float:left; margin-left:30px;">
								<p><b>Action Plans</b></p>
								<p>3</p>
							</div>
							
						</div>
						
					</div>
				</div>-->
								
				<div id="addBuildingForm">
					{{ render(controller('OptimusOptimusBundle:Building:new')) }}
				</div>
				
			</div>
		</div>
	</div>


	<script>
		$(function() {
			$(".buttonBig").button();
			$( "#addBuildingForm" ).dialog({
				autoOpen: false,
				/*height: 300,*/
				width: 600,
				modal: true,
				buttons: {					
					/*Cancel: function() {
						$( "#addBuildingForm" ).dialog( "close" );
					}*/
				},
				close: function() {					
					//allFields.removeClass( "ui-state-error" );
				}
			});			
			
			$( "#button_addBuilding" ).button().on( "click", function() {
				$( "#addBuildingForm" ).dialog( "open" );
			});
			
			
			{% for building in buildings %}
				$( "#editBuildingForm_{{building.id}}" ).dialog({
					autoOpen: false,
					//height: 300,
					width: 600,
					modal: true,
					buttons: {					
						/*Cancel: function() {
							$( "#editBuildingForm_{{building.id}}" ).dialog( "close" );
						}*/
					},
					close: function() {					
						//allFields.removeClass( "ui-state-error" );
					}
				});			
				
				$( "#button_editBuilding_{{building.id}}" ).button().on( "click", function() {
					$( "#editBuildingForm_{{building.id}}" ).dialog( "open" );
				});
			
			{% endfor %}
			
		});
	</script>
    
{% endblock %}