<!-- app/Resources/views/base.html.twig -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
        <title>Optimus {% block title %}{% endblock %}</title>
		
		<meta content="" name="description">
		<meta content="" name="keywords">
		<meta content="" name="authors">
		<meta name="language" content="en">
		<meta name="distribution" content="global">
		<meta name="robots" content="all">
		<meta name="Rating" content="general">

	   <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->		
				
        <link href='https://fonts.googleapis.com/css?family=Exo:400,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
        <link href="{{ asset('bundles/optimus/css/style.css') }}" type="text/css" rel="stylesheet" />
        <!--<link href="{{ asset('bundles/optimus/js/jquery-1.11.1.min.js') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('bundles/optimus/js/bootstrap.min.js') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('bundles/optimus/js/app.min.js') }}" type="text/css" rel="stylesheet" />-->
        <link href="{{ asset('bundles/optimus/css/ui-lightness/jquery-ui-1.10.3.custom.css') }}" type="text/css" rel="stylesheet" />
        <!--<link href="{{ asset('bundles/optimus/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('bundles/optimus/css/AdminLTE.min.css') }}" type="text/css" rel="stylesheet" />-->
		{% block stylesheets %}	{% endblock %}       
      
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
	
	<body>
        {% block body %}{% endblock %}       
    </body>
</html>