{% extends 'OptimusOptimusBundle:Layouts:layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/optimus/css/set_point.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/optimus/css/actionPlanTable.css') }}"/>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/optimus/js/jquery-1.11.1.min.js') }}"></script>
    <script  type="text/javascript" src="{{ asset('bundles/optimus/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/optimus/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/optimus/js/jquery.jeditable.min.js') }}"></script>
{% endblock %}

{% block clase_ActionPlanData %}activo{% endblock %}

{% block content %}

    <script type="text/javascript">

        $(function(){

            $("#datepicker").hide();

            $('.more_info').on('click', function() {
                var content=$(this).attr('data-content');
                $('#'+content).removeClass('hidden');
                var hidden = $(this).attr('data-hidden');
                $('#'+hidden).addClass('hidden');
            });

            $('.less_info').on('click', function() {
                var content=$(this).attr('data-content');
                $('#'+content).removeClass('hidden');
                var hidden=$(this).attr('data-hidden');
                $('#'+hidden).addClass('hidden');
            });

            var start_date = $('#startDate').html();
            var idBuilding = $('#idBuilding').html();
            var idAPType = $('#idAPType').html();

            $('.expandButton').on('click', function() {
                var type = $(this).attr('data-type') || 'section';
                var section = (type == 'section') ? this.id : $(this).attr('data-parent');
                var state = $(this).hasClass('open');
                if (!state && type == 'section') {
                    $('.extended').hide().removeClass('extended');
                    $('.open[rowspan]').attr('rowspan', 2);
                    var oldId = $('.open[rowspan]').attr('id');
                    $('.'+oldId+'_shortBottom').toggleClass('borderBottom');
                    $('.open').removeClass('open');
                }
                if (type=='section'){
                    $('.'+section+'_content').toggleClass('extended').toggle();
                    $(this).toggleClass('open');
                    $('#'+section).attr('rowspan', (state)?2:10);
                    $('.'+section+'_shortBottom').toggleClass('borderBottom');
                    if (state){
                        $('.'+section+'_feedback.extended').removeClass('extended').hide();
                    }
                } else if (type=='feedback'){
                    $('.'+section+'_feedback').toggleClass('extended').toggle();
                    $(this).toggleClass('open');
                    $('#'+section).attr('rowspan', (state)?10:35);
                }
            });

            var startDate;
            var endDate;

            var selectCurrentWeek = function() {
                window.setTimeout(function () {
                    $('#datepicker').find('.ui-datepicker-current-day a').addClass('ui-state-active')
                }, 1);
            };

            $('#datepicker').datepicker( {
                showOtherMonths: true,
                selectOtherMonths: true,
                onSelect: function(dateText, inst)
                {
                    var date = $(this).datepicker('getDate');
                    startDate = new Date(date.getFullYear(), date.getMonth(), date.getDate()); //diaSelected
                    endDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() + 6); //diaSelected +6

                    var dateFormat = inst.settings.dateFormat || $.datepicker._defaults.dateFormat;
                    $('#startDate').text($.datepicker.formatDate("yy-mm-dd" , startDate, inst.settings )); //dateFormat
                    $('#endDate').text($.datepicker.formatDate( "yy-mm-dd", endDate, inst.settings ));

                    selectCurrentWeek();
                },
                beforeShowDay: function(date) {
                    var cssClass = '';
                    if((date >= startDate && date <= endDate) || (date>=new Date('{{ startDate }}') && date <=new Date('{{ endDate }}')))
                        cssClass = 'ui-datepicker-current-day';
                    return [true, cssClass];
                },
                onChangeMonthYear: function(year, month, inst) {
                    selectCurrentWeek();
                }
            });

            $(document).on('mousemove', '#datepicker .ui-datepicker-calendar tr', function() { $(this).find('td a').addClass('ui-state-hover');    });
            $(document).on('mouseleave','#datepicker .ui-datepicker-calendar tr', function() { $(this).find('td a').removeClass('ui-state-hover'); });

        /* forms */
		{% for i in 0..6 %}
			$("#form_{{i}} ").change (function( event ) { //> input[name*=filter]
				console.log($("#form_{{i}}").serialize());
				//$("#form_{{i}}").submit(function() {
					console.log({{statusDay[i].status}});
					var url = "{{ path('changeSPMStatusDay' ,{'idOutputDay':statusDay[i].idOutputDay} ) }}"; // the script where you handle the form input.
					$.ajax({
						type: "POST",
						url: url,
						data:{ 'data':$("#form_{{i}}").serialize(), idBuilding:{{idBuilding}} }, // serializes the form's elements.
						success: function(data)
						{
							//alert(data); // show response from the php script.
						}
					});

					return false;					
				//});
			});
		{% endfor %}

        });

        //Show/hide el calendario
        function displayCalendar()
        {
            $("#datepicker").slideToggle();
        }

        function createURLView()
        {
            dateI=$("#startDate").html();
            dateF=$("#endDate").html();

            var url = "{{ path('getSetPointPlan', {'idBuilding':idBuilding, 'idAPType':idAPType, 'start_date':'dateI'}) }}";
            url = url.replace("dateI", $("#startDate").html());

            location.href=url;
        }

        function createURLPredictor()
        {
            dateI=$("#startDate").html();
            dateF=$("#endDate").html();

            var url = "{{ path('newCalculateSPM', {'idBuilding':idBuilding, 'idAPType':idAPType, 'from':'dateI', 'to':'dateF'}) }}";
            url = url.replace("dateI", $("#startDate").html());
            url = url.replace("dateF", $("#endDate").html());

            location.href=url;
        }

    </script>
    <style>

        #menuStrategies
        {
            width:100px;
            height:70px;
            position:absolute;
            left: 984px;
            border: 1px solid;
            display:none;
            z-index:9999;
            background-color:#d0cece;
            top: 212px;
        }

        .selectedDayCell
        {
            border-left: 3px solid #00D !Important;
            border-right: 3px solid #00D !Important;
        }

    </style>

    <div id="left">
		<ul type="none" style="">
			<li><a href="{{path('tracker')}}">Tracker</a></li>
			<li><a href="{{path('cityDashboard')}}">City Dashboard</a></li>
			<li style="background-color:#f6f6f6;"><a style="color:#0069b4;" href="{{path('init')}}">Buildings</a></li>
		</ul>
		<p>{{ "now"|date('l, F d, Y') }}</p>
    </div>
    <div id="right">
        <div id="topRight">
		<p>{{ nameBuilding }}</p>	
			
			<ul type="none">
				<li><a href="{{ path('buildingDashboard', {'idBuilding':idBuilding}) }}">Dashboard</a></li>
				<li class="active"><a href="{{ path('listActionPlans', {'idBuilding':idBuilding}) }}">Action Plans</a></li>
				<li><a href="{{ path('prediction', {'idBuilding':idBuilding}) }}">Historical Data</a></li>
				<li><a href="{{ path('tableReports', {'idBuilding':idBuilding, 'insertDB':'ok'} )}}">Weekly Report</a></li>
				<li><a href="{{ path('lastsEvents', {'idBuilding':idBuilding} )}}">User Activity</a></li>
			</ul>
        </div>

        <div id="centerRight">
		
				<p class="titleDiv">{{ dataActionPlan_name }}</p>
				<p>{{ dataActionPlan_description }}</p>

            <div id="indicators">
				<p class="boxContent borderRight">
						<img src="{{asset('bundles/optimus/img/Calendar.png')}}" />
					</p>
					
					<p class="dates boxContent borderRight">
						<span id="startDate">{{ startDate }}</span> / 
						<span id="endDate">{{ endDate }}</span>
					</p>
					
					<p class="boxContent borderRight" style=" cursor:pointer;" onclick="displayCalendar();"><img src="{{asset('bundles/optimus/img/Plus.png')}}" /></p>
					
					<p class="boxContent borderRight"  style=" cursor:pointer;" onclick="createURLView();">
						<img src="{{asset('bundles/optimus/img/View.png')}}" />
					</p>
					<!-- 
					<p class="boxContent borderRight" style="cursor:pointer;" onclick="createURLPredictor();">
						<strong style="color:#0069b4">Calculate</strong>
					</p>
					-->
            </div>
            <div id="datepicker" style=" margin-bottom:40px; float:left; background-color:#ddd;"></div>
            <div id="contentGraficas">
                <!-- Filtros -->
                <div class="contentTableResults">

                    <table id="tablaActionPlan" class="table_container">
                        <tr class="headerDays">
                            <td class="borderRight" colspan="2">
                                &nbsp;
                            </td>
                            {% for i in 0..6 %}
                                <td>
                                    {{ weekly_proposed_temperatures[i].date|escape|replace({' ':'\<br\>'})|raw }}
                                </td>
                            {% endfor %}
                        </tr>
                        <tr  class="borderBottom">
                            <td class="rawTitle borderRight" colspan="2">
                                Building
                            </td>
                            <td colspan="7">
                                &nbsp;
                            </td>
                        </tr>
                        {% for section in building_sections|keys %}
                            {% if section not in partitions|keys %}
                                <tr class="borderBottom">
                                    <td class="rawTitle borderRight" colspan="2" style="padding-left: {{ (building_sections[(section)]+1) * 15 }}px">
                                        {{ section }}
                                    </td>
                                    <td colspan="7">
                                        &nbsp;
                                    </td>
                                </tr>
                            {% else %}
                                {% set key = section|lower|replace({' ' : '_'}) %}
                                <tr>
                                    <td rowspan="2" class="noBorder rawTitle expandButton" id="section_{{ key }}" data-type="section" style="padding-left: {{ (building_sections[(section)]+1) * 15 }}px">
                                        {{ section }}
                                    </td>
                                </tr>
                                <tr class="section_{{ key }}_content" style="display: none;">
                                    <td class="noBorder subTitle borderRight">
                                        &nbsp;
                                    </td>
                                    <td colspan="7" class="cell rawTitle" style="text-align: center;">
                                        Final Suggestion
                                    </td>
                                </tr>
                                <tr class="section_{{ key }}_shortBottom borderBottom">
                                    <td class="noBorder subTitle borderRight">
                                        Set-point suggestion (<sup>o</sup>C)
                                    </td>
                                    {% for i in 0..6 %}
                                        <td class="cell {% if 'S' in weekly_proposed_temperatures[i].date %}disabled{% elseif date(weekly_proposed_temperatures[i].full_date) <= date(currDate) %}green{% else %}pink{% endif %}">
                                            {% if 'S' not in weekly_proposed_temperatures[i].date %}
                                                {% if date(weekly_proposed_temperatures[i].full_date) <= date(currDate) %}
                                                    {{ partitions[(section)].final_suggestions[i] }}
                                                {% else %}
                                                    --
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr class="section_{{ key }}_content" style="display: none;">
                                    <td class="noBorder subTitle borderRight">
                                        Outdoor temperature (<sup>o</sup>C)
                                    </td>
                                    {% for i in 0..6 %}
                                        <td class="cell{% if 'S' in weekly_proposed_temperatures[i].date %} disabled{% endif %}">
                                            {% if ('S' not in weekly_proposed_temperatures[i].date) and (date(startDate) <= date(currDate)) %}{{ weekly_proposed_temperatures[i].daily_mean }}{% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr class="section_{{ key }}_content" style="display: none;">
                                    <td class="noBorder subTitle borderRight">
                                        Selected Inference Rule
                                    </td>
                                    {% for i in 0..6 %}
                                        <td class="cell{% if 'S' in weekly_proposed_temperatures[i].date %} disabled{% endif %}">
                                            {% if ('S' not in weekly_proposed_temperatures[i].date) and (date(startDate) <= date(currDate)) %}{{ partitions[(section)].decision[i] }}{% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr class="section_{{ key }}_content" style="display: none;">
                                    <td class="noBorder subTitle borderRight">
                                        &nbsp;
                                    </td>
                                    <td colspan="7" class="cell rawTitle" style="text-align: center;">
                                        Suggestion 1: TCV
                                    </td>
                                </tr>
                                <tr class="section_{{ key }}_content" style="display: none;">
                                    <td class="noBorder subTitle borderRight">
                                        Set-point suggestion (<sup>o</sup>C)
                                    </td>
                                    {% for i in 0..6 %}
                                        <td class="cell {% if 'S' in weekly_proposed_temperatures[i].date %}disabled{% elseif partitions[(section)].proposed_temperature[i] != 0 %}green{% else %}pink{% endif %}">
                                            {% if ('S' not in weekly_proposed_temperatures[i].date) and (partitions[(section)].proposed_temperature[i] != 0) %}{{ partitions[(section)].proposed_temperature[i] }}{% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr class="section_{{ key }}_content" style="display: none;">
                                    <td class="noBorder subTitle borderRight">
                                        &nbsp;
                                    </td>
                                    <td colspan="7" class="cell rawTitle expandButton" data-type="feedback" data-parent="section_{{ key }}" style="text-align: center;">
                                        Feedback from users
                                    </td>
                                </tr>
                                <tr class="section_{{ key }}_feedback" style="display: none;">
                                    <td class="noBorder subTitle borderRight">
                                        &nbsp;
                                    </td>
                                    <td class="cell" colspan="7">
                                        <div class="tcv-feedback-index">
                                            <span class="tcv-sensation-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Index:</span>
                                            <span class="tcv-sensation tcv-sensation-minus3"></span> <span class="tcv-sensation-label">Cold</span>
                                            <span class="tcv-sensation tcv-sensation-minus2"></span> <span class="tcv-sensation-label">Cool</span>
                                            <span class="tcv-sensation tcv-sensation-minus1"></span> <span class="tcv-sensation-label">Slightly Cool</span>
                                            <span class="tcv-sensation tcv-sensation-minus0"></span> <span class="tcv-sensation-label">Neutral</span>
                                            <span class="tcv-sensation tcv-sensation-1"></span> <span class="tcv-sensation-label">Slightly Warm</span>
                                            <span class="tcv-sensation tcv-sensation-2"></span> <span class="tcv-sensation-label">Warm</span>
                                            <span class="tcv-sensation tcv-sensation-3"></span> <span class="tcv-sensation-label">Hot</span>
                                        </div>
                                    </td>
                                </tr>
                                {% for i in 0..23 %}
                                    <tr class="section_{{ key }}_feedback" style="display: none;">
                                        <td class="noBorder subTitle borderRight">
                                            {{ i }}:00
                                        </td>
                                        {% set j = 0 %}
                                        {% for date in partitions[(section)].feedback %}
                                            <td class="cell {% if (i < 7) or (i > 21) or ('S' in weekly_proposed_temperatures[j].date) %}disabled{% elseif date[i].size >= 3 %}tcv-sensation {{ date[i]|sensation_class }}{% endif %}">
                                                &nbsp;
                                            </td>
<<<<<<< HEAD
                                            {% for i in 0..6 %}
                                                <td class="next_cols" style="background:#2e75b6;">
                                                    <p class="cells" style="color:white; font-size:70%;">{{ weekly_proposed_temperatures[i].date }}</p>
                                                </td>
                                            {% endfor %}
                                        </tr>
                                        {% for i in 0..23 %}
                                            <tr class="row" style="line-height:1px;">
                                                <td class="first_col" style="background:white; border-bottom-style:none; border-top-style:none; height:20px;">
                                                </td>
                                                <td class="second_col {% if i == 23 %}special{% endif %}" style="background:#111; height:20px;">
                                                    <p class="cells" style="color:white;">{{ i }}:00</p>
                                                </td>
                                                {% set j = 0 %}
                                                {% for date in partitions[(section)].feedback %}
                                                    {% if (i in 7..21) and ('S' not in weekly_proposed_temperatures[j].date) %}
                                                        <td class="next_cols {% if i == 23 %}special{% endif %} {% if date[i].size >= 1 %} tcv-sensation {{ date[i]|sensation_class }}" style="height:20px;" {% else %}" style="background: #f2f2f2; height:20px;"{% endif %} >
                                                        </td>
                                                    {% else %}
                                                        <td class="non_working_cols {% if i == 23 %}special{% endif %}" style="height:20px;">
                                                        </td>
                                                    {% endif %}
                                                    {% set j = j + 1 %}
                                                {% endfor %}
                                            </tr>
=======
                                            {% set j = j + 1 %}
>>>>>>> 8dd71b0dc55b376cf72c73e2791997bfa1b426d2
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                <tr class="section_{{ key }}_content" style="display: none;">
                                    <td class="noBorder subTitle borderRight">
                                        &nbsp;
                                    </td>
                                    <td colspan="7" class="cell rawTitle" style="text-align: center;">
                                        Suggestion 2: Adaptive Comfort
                                    </td>
                                </tr>
                                <tr class="section_{{ key }}_content borderBottom" style="display: none;">
                                    <td class="noBorder subTitle borderRight">
                                        Set-point suggestion (<sup>o</sup>C)
                                    </td>
                                    {% for i in 0..6 %}
                                        <td class="cell {% if 'S' in weekly_proposed_temperatures[i].date %}disabled{% elseif date(weekly_proposed_temperatures[i].full_date) <= date(currDate) %}green{% else %}pink{% endif %}">
                                            {% if ('S' not in weekly_proposed_temperatures[i].date) and (date(weekly_proposed_temperatures[i].full_date) <= date(currDate)) %}{{ weekly_proposed_temperatures[i].set_point_temperature }}{% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                        <tr>
                            <td class="value rawTitle borderRigh" colspan="2">
                                <strong>{%trans%} Please confirm the action plan {%endtrans%}</strong>
                            </td>
                            {% set curr_date = date(startDate) %}
                            {% for i in 0..6 %}
                                <td class="ActionPlanConfirm{% if ('S' in weekly_proposed_temperatures[i].date) or (curr_date < date()|date_modify('-1 day')) %} disabled{% endif %}">
                                    <form id="form_{{i}}" method="post">
										<div class="inputsFilters">
											<p>
												<input type="radio" name="filter" value="0" {% if ('S' in weekly_proposed_temperatures[i].date) or (curr_date < date()|date_modify('-1 day')) %} disabled="disabled" {% endif %} {% if(statusDay[i].status==0) %} checked="checked" {% endif %} >{%trans%} Unknown {%endtrans%}
											</p>
											<p>
												<input type="radio" name="filter" value="1" {% if ('S' in weekly_proposed_temperatures[i].date) or (curr_date < date()|date_modify('-1 day')) %} disabled="disabled" {% endif %} {% if(statusDay[i].status==1) %} checked="checked" {% endif %} >{%trans%} Accepted {%endtrans%}
											</p>
											<p>
												<input type="radio" name="filter" value="2" {% if ('S' in weekly_proposed_temperatures[i].date) or (curr_date < date()|date_modify('-1 day')) %} disabled="disabled" {% endif %} {% if(statusDay[i].status==2) %} checked="checked" {% endif %} >{%trans%} Declined {%endtrans%}
											</p>
											<input type="hidden" value="{{idActionPlan}}" name="idActionPlan" id="idActionPlan" />
										</div>
									</form>
                                    {% set curr_date = curr_date|date_modify('+1 day') %}
                                </td>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}