{% extends 'OptimusOptimusBundle:Layouts:layout.html.twig' %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('bundles/optimus/js/jquery-1.11.1.min.js') }}"></script>
	<script  type="text/javascript" src="{{ asset('bundles/optimus/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/optimus/js/jquery.dataTables.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/optimus/js/jquery.jeditable.min.js') }}"></script>
	
		
	<script type="text/javascript" src="{{ asset('bundles/optimus/js/flot/jquery.flot.js') }}"></script>	
	<script type="text/javascript" src="{{ asset('bundles/optimus/js/flot/jquery.flot.navigate.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/optimus/js/flot/jquery.flot.time.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/optimus/js/flot/jquery.flot.symbol.js') }}"></script>
		
	<script type="text/javascript" src="{{ asset('bundles/optimus/js/flot/jquery.flot.axislabelsV2.js') }}"></script>	
	
	<script type="text/javascript" src="{{ asset('bundles/optimus/js/flot/jquery.flot.fillbetween.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/optimus/js/flot/jquery.flot.selection.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/optimus/js/flot/jquery.flot.dashes.js') }}"></script>
	<script language="javascript" type="text/javascript" src="{{ asset('bundles/optimus/js/flot/jquery.flot.stack.js') }}"></script>
{% endblock %}

{% block clase_ActionPlanData %}activo{% endblock %}


{% block content %}

<script type="text/javascript">
		
	$(function(){		
	
		$("#datepicker").hide();
		$(".showDiv").slideToggle();
		
		var startDate;
		var endDate;
		
		var selectCurrentWeek = function() {
			window.setTimeout(function () {
				$('#datepicker').find('.ui-datepicker-current-day a').addClass('ui-state-active')
			}, 1);
		}
		
		$('#datepicker').datepicker( {
			showOtherMonths: true,
			selectOtherMonths: true,
			onSelect: function(dateText, inst) 
			{ 			
				var date = $(this).datepicker('getDate');
				startDate = new Date(date.getFullYear(), date.getMonth(), date.getDate()); //diaSelected
				endDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() + 6); //diaSelected +6
														
				var dateFormat = inst.settings.dateFormat || $.datepicker._defaults.dateFormat;
				$('#startDate').text($.datepicker.formatDate("yy-mm-dd" , startDate, inst.settings )); //dateFormat
				$('#endDate').text($.datepicker.formatDate( "yy-mm-dd", endDate, inst.settings ));
				
				selectCurrentWeek();
			},
			beforeShowDay: function(date) {
				var cssClass = '';
				if((date >= startDate && date <= endDate) || (date>=new Date('{{ startDate }}') && date <=new Date('{{ endDate }}')))
					cssClass = 'ui-datepicker-current-day';
				return [true, cssClass];
			},
			onChangeMonthYear: function(year, month, inst) {
				selectCurrentWeek();
			}
		});
		
		$(document).on('mousemove', '#datepicker .ui-datepicker-calendar tr', function() { $(this).find('td a').addClass('ui-state-hover');    });
		$(document).on('mouseleave','#datepicker .ui-datepicker-calendar tr', function() { $(this).find('td a').removeClass('ui-state-hover'); });
		
		/* forms */
		{% for i in 0..6 %}
			$("#form_{{i}} ").change (function( event ) { //> input[name*=filter]
				console.log($("#form_{{i}}").serialize());
				//$("#form_{{i}}").submit(function() {
					console.log({{dataActionPlan[i].statusDay}});
					var url = "{{ path('changePVMStatusDay' ,{'idOutputDay':dataActionPlan[i].idOutputDay} ) }}"; // the script where you handle the form input.
					$.ajax({
						type: "POST",
						url: url,
						data:{ 'data':$("#form_{{i}}").serialize(), idBuilding:{{idBuilding}} }, // serializes the form's elements.
						success: function(data)
						{
							//alert(data); // show response from the php script.
						}
					});

					return false;					
				//});
			});
		{% endfor %}
		
		/* ----- */
		
		
		//double-clik on table
		$("#showSchedule").click(function(){
			$(".showDiv").slideToggle();
		});
		
	});
		
	//Show/hide el calendario
	function displayCalendar()
	{
		$("#datepicker").slideToggle();
	}
	
	function createURLView()
	{
		dateI=$("#startDate").html();
		dateF=$("#endDate").html();
		
		var url = "{{ path('actionPlan_PVMaintenance', {'idBuilding':idBuilding, 'idAPType':idAPType, 'from':'dateI', 'to':'dateF'}) }}";
		url = url.replace("dateI", $("#startDate").html());
		url = url.replace("dateF", $("#endDate").html());
		
		location.href=url;
	}
	
	function createURLPredictor()
	{
		dateI=$("#startDate").html();
		dateF=$("#endDate").html();
		
		var url = "{{ path('newCalculatePVM', {'idBuilding':idBuilding, 'idAPType':idAPType, 'from':'dateI', 'to':'dateF'}) }}";
		url = url.replace("dateI", $("#startDate").html());
		url = url.replace("dateF", $("#endDate").html());
		
		location.href=url;
	}
	
</script>
<style>

#menuStrategies
{
	width:100px; 
	height:70px; 
	position:absolute; 
	left: 984px; 
	border: 1px solid; 
	display:none; 
	z-index:9999; 
	background-color:#d0cece;
	top: 212px;
}

.selectedDayCell
{
	border-left: 3px solid #00D !Important; 
	border-right: 3px solid #00D !Important;
}

</style>

	<div id="left">				
		<ul type="none" style="">
			<li><a href="">Tracker</a></li>
			<li><a href="{{path('cityDashboard')}}">City Dashboard</a></li>
			<li style="background-color:#f6f6f6;"><a style="color:#0069b4;" href="{{path('init')}}">Buildings</a></li>
		</ul>
		<p>{{ "now"|date('l, F d, Y') }}</p>	
	</div>
	
	<div id="right">
		<div id="topRight">
			<p>{{ nameBuilding }}</p>	
			
			<ul type="none">
				<li><a href="{{ path('buildingDashboard', {'idBuilding':idBuilding}) }}">Dashboard</a></li>
				<li style="background-color:#e8f3f9;"><a href="{{ path('listActionPlans', {'idBuilding':idBuilding}) }}">Action Plans</a></li>
				<li><a href="{{ path('prediction', {'idBuilding':idBuilding}) }}">Historical Data</a></li>
				<li><a href="{{ path('tableReports', {'idBuilding':idBuilding, 'insertDB':'ok'} )}}">Weekly Report</a></li>
				<li><a href="">User Activity</a></li>
			</ul>					
		</div>
	
		<div id="centerRight">
		
				<p class="titleDiv">{{ dataActionPlan_name }}</p>
				<p>{{ dataActionPlan_description }}</p>
				
				<div id="indicators">
					<p class="boxContent borderRight">
						<img src="{{asset('bundles/optimus/img/Calendar.png')}}" />
					</p>
					
					<p class="dates boxContent borderRight">
						<span id="startDate">{{ startDate }}</span> / 
						<span id="endDate">{{ endDate }}</span>
					</p>
					
					<p class="boxContent borderRight" style=" cursor:pointer;" onclick="displayCalendar();"><img src="{{asset('bundles/optimus/img/Plus.png')}}" /></p>
					
					<p class="boxContent borderRight"  style=" cursor:pointer;" onclick="createURLView();">
						<img src="{{asset('bundles/optimus/img/View.png')}}" />
					</p>					
					
				</div>
				
				<div id="datepicker" style=" margin-bottom:40px; float:left; background-color:#ddd;"></div>
				
				<div id="contentGraficas">
						
					<!-- tabla de valores -->
					<div class="contentTableResults">
						{% if( dataActionPlan != null) %}
						<table id="tablaActionPlan" border="0" style="font-size: 12px;">					
							<tbody>
								<tr class="headerDays" style="font-weight:bold; ">
									<td colspan="2" style="border-right: 2px solid #efefef;"></td>
									<td style="text-align:center;">
									{% if dataActionPlan is defined %}	
										{% if dataActionPlan[0] is defined %}	
											{{ (dataActionPlan[0].nameAbbreviatedDay) }}</br>
											{{ (dataActionPlan[0].abbreviatedDay) }}
										{% endif %}
									{% endif %}
									</td>
									<td style="text-align:center;">
									{% if dataActionPlan is defined %}	
										{% if dataActionPlan[1] is defined %}	
											{{ (dataActionPlan[1].nameAbbreviatedDay) }}</br>
											{{ (dataActionPlan[1].abbreviatedDay) }}
										{% endif %}
									{% endif %}
									</td>
									<td style="text-align:center;">
									{% if dataActionPlan is defined %}	
										{% if dataActionPlan[2] is defined %}	
											{{ (dataActionPlan[2].nameAbbreviatedDay) }}</br>
											{{ (dataActionPlan[2].abbreviatedDay) }}
										{% endif %}
									{% endif %}
									</td>
									<td style="text-align:center;">
									{% if dataActionPlan is defined %}	
										{% if dataActionPlan[3] is defined %}	
											{{ (dataActionPlan[3].nameAbbreviatedDay) }}</br>
											{{ (dataActionPlan[3].abbreviatedDay) }}
										{% endif %}
									{% endif %}
									</td>
									<td style="text-align:center;">
									{% if dataActionPlan is defined %}	
										{% if dataActionPlan[4] is defined %}	
											{{ (dataActionPlan[4].nameAbbreviatedDay) }}</br>
											{{ (dataActionPlan[4].abbreviatedDay) }}
										{% endif %}
									{% endif %}
									</td>
									<td style="text-align:center;">
									{% if dataActionPlan is defined %}	
										{% if dataActionPlan[5] is defined %}	
											{{ (dataActionPlan[5].nameAbbreviatedDay) }}</br>
											{{ (dataActionPlan[5].abbreviatedDay) }}
										{% endif %}
									{% endif %}
									</td>
									<td style="text-align:center;">
									{% if dataActionPlan is defined %}	
										{% if dataActionPlan[6] is defined %}	
											{{ (dataActionPlan[6].nameAbbreviatedDay) }}</br>
											{{ (dataActionPlan[6].abbreviatedDay) }}
										{% endif %}
									{% endif %}
									</td>								
								</tr>
								<!-- Top values --> 
								<tr>
									<td colspan="2" style="border-right: 2px solid #efefef; text-align:left; color:#0069b4; padding-left:15px; font-size:11px; font-weight:bold; letter-spacing:1px; text-transform:uppercase;">{%trans%} Historical electricity produced through PV system {%endtrans%}(kWh) </td>
									{% for i in 0..6 %}									
										<td style="background-color: #d9e1f2; {%if( dataActionPlan[i].day<='now'|date('Y-m-d H:i:s'))%} 
										background-color: #f2f2f2; {% endif %}">{{ dataActionPlan[i].production_historical_total|round(1, 'common') }}</td>				
									{% endfor %}
								</tr>	
								<tr>
									<td colspan="2" style="border-right: 2px solid #efefef; text-align:left; color:#0069b4; padding-left:15px; font-size:11px; font-weight:bold; letter-spacing:1px; text-transform:uppercase;">{%trans%} Predicted electricity produced through PV system {%endtrans%}(kWh)</td>
									{% for i in 0..6 %}									
										<td style="background-color: #d9e1f2; {%if( dataActionPlan[i].day<='now'|date('Y-m-d H:i:s'))%} 
										background-color: #f2f2f2; {% endif %}">{{ dataActionPlan[i].production_predicted_total|round(1, 'common') }}</td>				
									{% endfor %}
								</tr>	
																	
												
								<tr id="showSchedule">
									<td style="background-color:#aeaaaa; text-align:left; border-top:2px solid #efefef; border-bottom:2px solid #efefef; padding-left:15px;" colspan="9"> &#9660; {%trans%} show schedule (per hours) {%endtrans%}</td>
								</tr>
								
								<!-- FIRST COLUMN -->
								<tr class="showDiv">
									<td class="firstCellShowDiv" rowspan="25" style=" text-align:left; color:#0069b4; padding-left:15px; font-size:11px; font-weight:bold; letter-spacing:1px; text-transform:uppercase;">{%trans%} Difference between</br> predicted and historical </br> PV Production(in KWh) {%endtrans%}</td>
								</tr>
								
								{% for i in 0..23 %}
								<tr class="showDiv">
								
									<!-- TIME COLUMN -->
									<td class="secondCellShowDiv" style=" border-right: 2px solid #efefef; {%if(i==23)%} border-bottom: 2px solid #efefef; {% endif %}">{{ i }}:00 - {{ i+1}}:00 h</td>
															
									<!-- WEEK DAYS COLUMNS -->
									{% for j in 0..6 %}
									
										<!-- DAILY COLUMNS -->
									
										{% if dataActionPlan[j].production_difference[i] is defined %}		
											<td {% if( dataActionPlan[j].day=='now'|date('Y-m-d'))%} 
													class="selectedDayCell" 
												{% endif %}
													style="background-color:
												{% if dataActionPlan[j].future_day == 1 %}
													#AAAAAA;
												{% elseif dataActionPlan[j].alarmPower[i] == 1 %} 
													#FFAAAA;
												{% else %}
													#AAEEAA;													
												{% endif %}
												
												 {%if(i==23)%} border-bottom: 2px solid #efefef; {% endif %}" >
												{{ (dataActionPlan[j].production_difference[i])   |round(1, 'common') }}													
											</td>
											
										{% else %}	
											<td style="background-color:#f2f2f2; color: #949494;{%if(i==23)%} border-bottom: 2px solid #efefef; {% endif %}"> no data </td>
										{% endif %}									
										
									{% endfor %}
									</tr>
								{% endfor %}
								
								<tr>
									<td class="value" colspan="2" style="border-right: 2px solid #efefef; text-align:left; color:#0069b4; padding-left:15px; font-size:11px; font-weight:bold; letter-spacing:1px; text-transform:uppercase;">{%trans%} Alarm status {%endtrans%}</td>
									{% for j in 0..6 %}
										<td style="text-align:center;background-color:
										{% if( dataActionPlan[j].alert == 0) %}  
											#77FF77;border-bottom: 2px solid #efefef;">OK
										{% elseif( dataActionPlan[j].alert == 1) %}  
											#FF7777;border-bottom: 2px solid;">ALERT PWR
										{% elseif( dataActionPlan[j].alert == 2) %} 
											#FF7777;border-bottom: 2px solid;">ALERl TEMP
										{% elseif( dataActionPlan[j].alert == 3) %}  
											#777777;border-bottom: 2px solid;">--
										{% endif %}
										</td>
									{% endfor %}
								</tr>
								
								<tr id="rowGraph" >
									<td class="value" colspan="2" style="border-right: 2px solid #efefef; text-align:left; color:#0069b4; padding-left:15px; font-size:11px; font-weight:bold; letter-spacing:1px; text-transform:uppercase;"></td>
									
									<td class="value" colspan="7" style="border-right: 2px solid #efefef; text-align:left; color:#0069b4; padding-left:15px; font-size:11px; font-weight:bold; letter-spacing:1px; text-transform:uppercase;">
										<div id="placeholderPartition" style="height:300px; float:left; width: 726px;  margin-bottom:10px; background-color:#fff; padding: 0 0 30px 0;">	</div>
									</td>
								</tr>
								
								
								<tr>
									<td class="value" colspan="2" style="border-right: 2px solid #efefef; text-align:left; color:#0069b4; padding-left:15px; font-size:11px; font-weight:bold; letter-spacing:1px; text-transform:uppercase;"><strong>{%trans%} Please confirm the action plan {%endtrans%}</strong></td>
									
									{% for i in 0..6 %}
										<td style="text-align: left; {%if( dataActionPlan[i].day>'now'|date('Y-m-d'))%} background-color:#f2f2f2; {% endif %}">
											<form id="form_{{i}}" method="post">
									 
												<div class="inputsFilters" style=" float:left; margin-right:3px;">
													<p style="font-size:11px; margin:0;">
														<input type="radio" name="filter" value="0" {%if( dataActionPlan[i].day >'now'|date('Y-m-d'))%} disabled="disabled"{% endif %} {% if(dataActionPlan[i].statusDay==0) %} checked="checked" {% endif %} >{%trans%} Unknown {%endtrans%}
													</p>
													<p style="font-size:11px; margin:0;">
														<input type="radio" name="filter" value="1" {%if( dataActionPlan[i].day>'now'|date('Y-m-d'))%} disabled="disabled"{% endif %} {% if(dataActionPlan[i].statusDay==1) %} checked="checked" {% endif %} >{%trans%} Accepted {%endtrans%}
													</p>
													<p style="font-size:11px; margin:0;">
														<input type="radio" name="filter" value="2" {%if( dataActionPlan[i].day>'now'|date('Y-m-d'))%} disabled="disabled"{% endif %} {% if(dataActionPlan[i].statusDay==2) %} checked="checked" {% endif %} >{%trans%} Declined {%endtrans%}
													</p>
													<input type="hidden" value="{{dataActionPlan[i].day|date('Y-m-d') }}" name="day" id="day" />
													<input type="hidden" value="{{idActionPlan}}" name="idActionPlan" id="idActionPlan" />
												</div>
												
											</form>
										</td>
									{% endfor %}
								</tr>

							</tbody>
						</table>	
						
						{% endif %}
					</div>
				</div>			
		</div> 
	</div>
	
	<script>
		$(function(){	
			
			/* ------ PlaceHolder Partition ----- */		
			var plot= $.plot($("#placeholderPartition"), [ 		
				{% set maxY=0 %}
				{% set minY=0 %}					
				
				{% for index, Partition in dataPartitions %}
					{% if Partition|length > 0 %}					
						{% for idSensorPartition, sensorPartition in Partition %}						{##}
							{% for typeData, dataValueSensor in sensorPartition['values'] %}	
								
								{% if (dataValueSensor['values']|length) > 0 %}
									{
										data: [								
											
											{% for j in 0..dataValueSensor['values']|length-1 %}					
																
												{% if j==0 %} 
													{% set minY= dataValueSensor['values'][j].value  %}
												{% elseif minY > dataValueSensor['values'][j].value %} 
													{% set minY=dataValueSensor['values'][j].value  %}
												{% endif %}
												
												{% if maxY < dataValueSensor['values'][j].value %} 
													{% set maxY=dataValueSensor['values'][j].value %}
												{% endif %}			
											
												{% set date = dataValueSensor['values'][j].datetime | date("F j, Y H:i:s") %}
												
												{#% set date = "now" | date("F j, Y H:i:s") %#}
							
									
												[new Date("{{ date }}"), {{ dataValueSensor['values'][j].value }}, "{{idSensorPartition}} - {{typeData}} - {{dataValueSensor['name']}}" ],		
												
											{% endfor %} 								
											
											{% if typeData =='prediction' %}
												], color:"{{ sensorPartition['color']}}", shadowSize: 0, lines:{show:false}, dashes: { show: true, dashLength:[4, 2], lineWidth:1},				
												//dashes: { show: true }, shadowSize: 0,	
											{% else %}
												], color:"{{ sensorPartition['color']}}", shadowSize: 0, dashes: { show: false}, lines:{show:true, lineWidth:1, fillColor:'#FFFFFF'},						
											{% endif %}							
									},
								{% endif %}						
							{% endfor %}						
						{% endfor %}
					{% endif %}	
				{% endfor %}
			],
			
			{
				grid: {
					canvasText:{show:true},
					hoverable: true,
					clickable: true,
					borderWidth: 1,
					borderColor:"#cacaca",
					minBorderMargin: 0.5,
					axisMargin: 1,
					backgroundColor:'#ffffff'
				},
						
				xaxis:{					
					mode: "time", min: new Date("{{ startDate | date('F j, Y H:i:s') }}"), max: new Date("{{ endDate | date('F j, Y H:i:s') }}"), tickLength: 5, font:{size: 11, family: "sans-serif", color:"#626262"}, show:false,					
				},
				yaxis:{min:0, max:{{ maxY }}, tickDecimals: 2,  labelWidth: 50, labelHeight: 50, reserveSpace: true,  ticks:[{{ minY }}, {{ maxY }}], font:{size: 9, family: "sans-serif", color:"#626262"}},
				pan:{interactive:true, cursor: "move", frameRate: 20}
			});
			
			var previousPoint = null;
			$("#placeholderPartition").bind("plothover", function (event, pos, item) {
				if (item) {					
					document.body.style.cursor = 'pointer';
					if (previousPoint != item.dataIndex) {
						previousPoint = item.dataIndex;

						$("#tooltip").remove();
						var x = item.datapoint[0],
							y = item.datapoint[1];
							z = item.series.data[item.dataIndex+1][2];
						showTooltip(item.pageX, item.pageY, z);
					}
				}else{
					document.body.style.cursor = 'default';
					$("#tooltip").remove();
					previousPoint = null;
				}
			});
			
			//Función compartida por todas las gráficas
			function showTooltip(x, y, contents)
			{
				$('<div id="tooltip" style="font-size:10px;">' + contents + '</div>').css( {
					position: 'absolute',
					display: 'none',
					top: y-20,
					left: x + 10,
					border: '1px solid #595959',
					padding: '2px',				
					'background-color': '#DADADA',
					opacity: 0.80
				}).appendTo("body").fadeIn(200);
			}			
			/* ---------------------------------- */
		});
	</script>

{% endblock %}




