{% extends 'OptimusOptimusBundle:Layouts:layout.html.twig' %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('bundles/optimus/js/jquery-1.11.1.min.js') }}"></script>
	<script  type="text/javascript" src="{{ asset('bundles/optimus/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/optimus/js/jquery.dataTables.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/optimus/js/jquery.jeditable.min.js') }}"></script>
	
	<script type="text/javascript" src="{{ asset('bundles/optimus/js/flot/jquery.flot.js') }}"></script>	
	<script type="text/javascript" src="{{ asset('bundles/optimus/js/flot/jquery.flot.navigate.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/optimus/js/flot/jquery.flot.time.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/optimus/js/flot/jquery.flot.symbol.js') }}"></script>
		
	<script type="text/javascript" src="{{ asset('bundles/optimus/js/flot/jquery.flot.axislabelsV2.js') }}"></script>	
	
	<script type="text/javascript" src="{{ asset('bundles/optimus/js/flot/jquery.flot.fillbetween.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/optimus/js/flot/jquery.flot.selection.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/optimus/js/flot/jquery.flot.dashes.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/optimus/js/flot/jquery.flot.stack.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/optimus/js/flot/jquery.flot.crosshair.js') }}"></script>
{% endblock %}

{% block clase_ActionPlanData %}activo{% endblock %}


{% block content %}

<script type="text/javascript">
	{% set diferentValue=false %}	
	$(function(){		
	
		$("#datepicker").hide();
		//$(".showDiv").slideToggle();
		
		var startDate;
		var endDate;
		
		var selectCurrentWeek = function() {
			window.setTimeout(function () {
				$('#datepicker').find('.ui-datepicker-current-day a').addClass('ui-state-active')
			}, 1);
		}
		
		$('#datepicker').datepicker( {
			/*showWeek: true,
			firstDay: 1,*/
			showOtherMonths: true,
			selectOtherMonths: true,
			onSelect: function(dateText, inst) { 
			
				var date = $(this).datepicker('getDate');
				startDate = new Date(date.getFullYear(), date.getMonth(), date.getDate()); //diaSelected
				endDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() + 6); //diaSelected +6
														
				var dateFormat = inst.settings.dateFormat || $.datepicker._defaults.dateFormat;
				$('#startDate').text($.datepicker.formatDate("yy-mm-dd" , startDate, inst.settings )); //dateFormat
				$('#endDate').text($.datepicker.formatDate( "yy-mm-dd", endDate, inst.settings ));
				
				selectCurrentWeek();
				
				//location.href='<?php //echo base_url(); ?>index.php/main_controller/index/'+$('#startDate').html()+'/'+$('#endDate').html()+'/'+timeSelected;
			},
			beforeShowDay: function(date) {
				var cssClass = '';
				if((date >= startDate && date <= endDate) || (date>=new Date('{{ startDate }}') && date <=new Date('{{ endDate }}')))
					cssClass = 'ui-datepicker-current-day';
				return [true, cssClass];
			},
			onChangeMonthYear: function(year, month, inst) {
				selectCurrentWeek();
			}
		});
		
		$(document).on('mousemove', '#datepicker .ui-datepicker-calendar tr', function() { $(this).find('td a').addClass('ui-state-hover');    });
		$(document).on('mouseleave','#datepicker .ui-datepicker-calendar tr', function() { $(this).find('td a').removeClass('ui-state-hover'); });
		
		/* forms */
		{% for i in 0..6 %}
			$("#form_{{i}} ").change (function( event ) { //> input[name*=filter]
				//console.log($("#form_{{i}}").serialize());
				//$("#form_{{i}}").submit(function() {
					console.log({{dataActionPlan[i].idOutputDay}});
					var url = "{{ path('changePVStatusDay' ,{'idOutputDay':dataActionPlan[i].idOutputDay} ) }}"; // the script where you handle the form input.
					$.ajax({
						type: "POST",
						url: url,
						data:{ 'data':$("#form_{{i}}").serialize(), idBuilding:{{idBuilding}} }, // serializes the form's elements.
						success: function(data)
						{
							//alert(data); // show response from the php script.
						}
					});

					return false;					
				//});
			});
		{% endfor %}
		
		/* ----- */
		
		//double-clik on table
		/*$("#showSchedule").click(function(){
			$(".showDiv").slideToggle();
		});*/
		
		//double-clik on table
		$("#arrowStrategy").click(function(){
			$("#menuStrategies").slideToggle();
		});
		
		$(".textStrategyActual").click(function(){
			$("#menuStrategies").slideToggle();
		});
		
		$("#menuStrategies").mouseleave(function(){
			$("#menuStrategies").hide();
		});
				
	});
	
	
	
	//Show/hide el calendario
	function displayCalendar()
	{
		$("#datepicker").slideToggle();
	}
	
	function createURLView()
	{
		dateI=$("#startDate").html();
		dateF=$("#endDate").html();
		
		var url = "{{ path('actionPlan', {'idBuilding':idBuilding, 'idAPType':idAPType, 'from':'dateI', 'to':'dateF'}) }}";
		url = url.replace("dateI", $("#startDate").html());
		url = url.replace("dateF", $("#endDate").html());
		
		location.href=url;
		//location.href="{{ path('homepage') }}/"+$('#startDate').html()+"/"+$('#endDate').html()+"/"+timeSelected;
	}
	
	function createURLPredictor()
	{
		dateI=$("#startDate").html();
		dateF=$("#endDate").html();
		
		var url = "{{ path('newCalculatePV', {'idBuilding':idBuilding, 'idAPType':idAPType, 'from':'dateI', 'to':'dateF'}) }}";
		url = url.replace("dateI", $("#startDate").html());
		url = url.replace("dateF", $("#endDate").html());
		
		location.href=url;
		//location.href="{{ path('homepage') }}/"+$('#startDate').html()+"/"+$('#endDate').html()+"/"+timeSelected;
	}
	
	function changeStrategy(type)
	{
		$("#menuStrategies").css('display','none');
		typeFInal=type.toUpperCase();
		$(".textStrategyActual").html( {%trans%}typeFInal {%endtrans%}  );
		
		if(type=='finance'){
			$("#menuStrategies").html("<p style='cursor:pointer;' onclick='changeStrategy(\"Green\");'> GREEN|trans </p> <p style='cursor:pointer;' onclick='changeStrategy(\"peak\");'> PEAK |trans</p>");
			
		}else if(type=='green'){
			$("#menuStrategies").html("<p style='cursor:pointer;' onclick='changeStrategy(\"Finance\");'> FINANCE|trans </p> <p style='cursor:pointer;' onclick='changeStrategy(\"peak\");'> PEAK|trans</p>");
			
		}else if(type=='peak'){
			$("#menuStrategies").html("<p style='cursor:pointer;' onclick='changeStrategy(\"Finance\");'> FINANCE |trans</p><p style='cursor:pointer;' onclick='changeStrategy(\"Green\");'> GREEN|trans </p> ");
		}
		
		// Store the new strategy value for each day of the week:
		{% set idListOutputDay = [] %}
		{% for i in 0..6 %}
			{% if dataActionPlan[i] is defined %}
				{% set idListOutputDay = idListOutputDay|merge([dataActionPlan[i].idOutputDay]) %}
			{% else %}
				{% set idListOutputDay = idListOutputDay|merge([0]) %}
			{% endif %}			
		{% endfor %}	
		
		//alert({{ idListOutputDay|json_encode|raw }});
		
		$.ajax({
			type:'POST',
			url: "{{path('changePVStrategyWeek')}}", // OptimusBundle\Resources\config\routing.yml -> changeStrategyAction
			data: { idListOutputDay: {{ idListOutputDay|json_encode|raw }}, type:type, idActionPlan: {{idActionPlan}}, idBuilding:{{idBuilding}} },
			success:function(result){		
				//alert("OK");
				//alert(result); 
				//data.instance.refresh();
				location.reload(); 
			},
			error: function (xhr, ajaxOptions, thrownError) {
				//alert(xhr.responseText);
			}   
		});
	}

	
</script>
<style>

#menuStrategies
{
	width:100px; 
	height:70px; 
	position:absolute; 
	left: 1050px; 
	border: 1px solid #efefef; 
	display:none; 
	z-index:9999; 
	background-color:#fff;
	top: 153px;
}
#menuStrategies p:hover{background-color:#e8f3f9;}

.selectedDayCell
{
	border-left: 3px solid #00D !Important; 
	border-right: 3px solid #00D !Important;
}

</style>
 
	<div id="left">					
		<ul type="none" style="">
			<li><a href="{{path('tracker')}}">Tracker</a></li>
			<li><a href="{{path('cityDashboard')}}">City Dashboard</a></li>
			<li style="background-color:#f6f6f6;"><a style="color:#0069b4;" href="{{path('init')}}">Buildings</a></li>
		</ul>
		<p>{{ "now"|date('l, F d, Y') }}</p>
	</div>
	
	<div id="right">
		<div id="topRight">
			<p>{{ nameBuilding }}</p>	
			
			<ul type="none">
				<li><a href="{{ path('buildingDashboard', {'idBuilding':idBuilding}) }}">Dashboard</a></li>
				<li class="active"><a href="{{ path('listActionPlans', {'idBuilding':idBuilding}) }}">Action Plans</a></li>
				<li><a href="{{ path('prediction', {'idBuilding':idBuilding}) }}">Historical Data</a></li>
				<li><a href="{{ path('tableReports', {'idBuilding':idBuilding, 'insertDB':'ok'} )}}">Weekly Report</a></li>
				<li><a href="{{ path('lastsEvents', {'idBuilding':idBuilding} )}}">User Activity</a></li>
			</ul>					
		</div>
	
		<div id="centerRight">
				
				<p class="titleDiv">{{ dataActionPlan_name }}</p>
				<p>{{ dataActionPlan_description }}</p>
				
				<!--<div id="indicators" style="background-color:#ddd; width:99.8%;  overflow:hidden; border:1px solid #aaa;">
					<div style="float:left;">
						<p class="titleContentDescription"><strong>{%trans%} Action Plan {%endtrans%}:</strong> <span>{{ dataActionPlan_name }}</span></p>
						<p class="titleContentDescription"><strong>{%trans%} Description {%endtrans%}:</strong> <span style="font-size:12px;">{{ dataActionPlan_description }}</span></p>
					</div>
					<div style="float:left; text-align:right;">
						<p style="margin:10px 10px;"><span style="color:#2e75b6">{%trans%} Last forecast calculated {%endtrans%}:</span> <span><strong>{{ dataActionPlan_lastCalculation }}</strong></span></p>					
					</div>
				</div>-->
									
				
					
						
				
				<div id="indicators">
					<p class="boxContent borderRight">
						<img src="{{asset('bundles/optimus/img/Calendar.png')}}" />
					</p>
					
					<p class="dates boxContent borderRight">
						<span id="startDate">{{ startDate }}</span> / 
						<span id="endDate">{{ endDate }}</span>
					</p>
					
					<p class="boxContent borderRight" style=" cursor:pointer;" onclick="displayCalendar();"><img src="{{asset('bundles/optimus/img/Plus.png')}}" /></p>
					
					<p class="boxContent borderRight"  style=" cursor:pointer;" onclick="createURLView();">
						<img src="{{asset('bundles/optimus/img/View.png')}}" />
					</p>
					
					<!--<p class="buttonIndicator" onclick="createURLPredictor();" style="margin-right:20px;">{%trans%} Calculate {%endtrans%}</p>-->
					
					<!--<p>Selected Day: {{  "now"|date("Y-m-d")  }}</p>-->
					
					<p class="strategyActual" style="">{%trans%} Strategy selected: {%endtrans%}					
						<!-- Retrieve the strategy for the present day (default) -->
						{% if dataActionPlan[0].strategy == "green" %}
							<span class="textStrategyActual">{%trans%} GREEN {%endtrans%}</span>
						{% elseif dataActionPlan[0].strategy == "finance" %}
							<span class="textStrategyActual">{%trans%} FINANCE {%endtrans%}</span>
						{% elseif dataActionPlan[0].strategy == "peak" %}
							<span class="textStrategyActual">{%trans%} PEAK {%endtrans%}</span>
						{% else %}
							<span class="textStrategyActual"><font color="red">{%trans%} GREEN {%endtrans%}</font></span>
						{% endif %}					
						<span id="arrowStrategy">&#9660;</span>
					</p>
					
				</div>
				
				<div id="menuStrategies" style="
					{% if dataActionPlan[0].strategy == "green" %}
						width:120px;height:60px;">
						<p style="cursor:pointer;" onclick="changeStrategy('finance');">{%trans%} FINANCE {%endtrans%}</p>
						<p style="cursor:pointer;" onclick="changeStrategy('peak');">{%trans%} PEAK {%endtrans%}</p>
					{% elseif dataActionPlan[0].strategy == "finance" %}
						width:120px;height:60px;">
						<p style="cursor:pointer;" onclick="changeStrategy('Green');">{%trans%} GREEN {%endtrans%}</p>
						<p style="cursor:pointer;" onclick="changeStrategy('peak');">{%trans%} PEAK {%endtrans%}</p>
					{% elseif dataActionPlan[0].strategy == "peak" %}
						width:100px;height:60px;">
						<p style="cursor:pointer;" onclick="changeStrategy('Green');">{%trans%} GREEN {%endtrans%}</p>
						<p style="cursor:pointer;" onclick="changeStrategy('finance');">{%trans%} FINANCE {%endtrans%}</p>
					{% else %}
						width:120px;height:80px;">
						<p style="cursor:pointer;" onclick="changeStrategy('Green');">{%trans%} GREEN {%endtrans%}</p>
						<p style="cursor:pointer;" onclick="changeStrategy('finance');">{%trans%} FINANCE {%endtrans%}</p>
						<p style="cursor:pointer;" onclick="changeStrategy('peak');">{%trans%} PEAK {%endtrans%}</p>
					{% endif %}		
				</div>
				
				
				<div id="datepicker" style=" margin-bottom:40px; float:left; background-color:#ddd;"></div>
				
				<div id="contentGraficas">
					<!-- Test graph -->
					<!--<div id="placeholderPartition" style="height:300px; float:left; width: 1075px;  margin-bottom:10px; background-color:#fff; padding: 0 0 30px 0;">	</div>	-->
					
					<!-- tabla de valores -->
					<div class="contentTableResults">
						{% if( dataActionPlan != null) %}
						<table id="tablaActionPlan" border="0" style="font-size: 12px;">
							
							<tbody>
								<tr class="headerDays" style="font-weight:bold;">
									<td colspan="2" style="border-right: 2px solid #efefef;"></td>
									<td style='text-align:center;'>
									{% if dataActionPlan is defined %}	
										{% if dataActionPlan[0] is defined %}	
											{{ (dataActionPlan[0].nameAbbreviatedDay) }}</br>
											{{ (dataActionPlan[0].abbreviatedDay) }}
										{% endif %}
									{% endif %}
									</td>
									<td style='text-align:center;'>
									{% if dataActionPlan is defined %}	
										{% if dataActionPlan[1] is defined %}	
											{{ (dataActionPlan[1].nameAbbreviatedDay) }}</br>
											{{ (dataActionPlan[1].abbreviatedDay) }}
										{% endif %}
									{% endif %}
									</td>
									<td style='text-align:center;'>
									{% if dataActionPlan is defined %}	
										{% if dataActionPlan[2] is defined %}	
											{{ (dataActionPlan[2].nameAbbreviatedDay) }}</br>
											{{ (dataActionPlan[2].abbreviatedDay) }}
										{% endif %}
									{% endif %}
									</td>
									<td style='text-align:center;'>
									{% if dataActionPlan is defined %}	
										{% if dataActionPlan[3] is defined %}	
											{{ (dataActionPlan[3].nameAbbreviatedDay) }}</br>
											{{ (dataActionPlan[3].abbreviatedDay) }}
										{% endif %}
									{% endif %}
									</td>
									<td style='text-align:center;'>
									{% if dataActionPlan is defined %}	
										{% if dataActionPlan[4] is defined %}	
											{{ (dataActionPlan[4].nameAbbreviatedDay) }}</br>
											{{ (dataActionPlan[4].abbreviatedDay) }}
										{% endif %}
									{% endif %}
									</td>
									<td style='text-align:center;'>
									{% if dataActionPlan is defined %}	
										{% if dataActionPlan[5] is defined %}	
											{{ (dataActionPlan[5].nameAbbreviatedDay) }}</br>
											{{ (dataActionPlan[5].abbreviatedDay) }}
										{% endif %}
									{% endif %}
									</td>
									<td style='text-align:center;'>
									{% if dataActionPlan is defined %}	
										{% if dataActionPlan[6] is defined %}	
											{{ (dataActionPlan[6].nameAbbreviatedDay) }}</br>
											{{ (dataActionPlan[6].abbreviatedDay) }}
										{% endif %}
									{% endif %}
									</td>								
								</tr>
								<tr>
									<td colspan="2" style=" border-right: 2px solid #efefef; text-align:left; color:#0069b4; padding-left:15px; font-size:11px; font-weight:bold; letter-spacing:1px; ">{%trans%} Electricity produced through PV system  {%endtrans%}(kWh) </td>
									{% for i in 0..6 %}
										<td style="background-color: #d9e1f2; 
										{%if( dataActionPlan[i].day<='now'|date('Y-m-d H:i:s'))%} background-color: #f2f2f2; {% endif %}">
										{{ dataActionPlan[i].day_production|round(1, 'floor') }}</td>
									{% endfor %}
								</tr>
								<tr>
									<td colspan="2" style=" border-right: 2px solid #efefef; text-align:left; color:#0069b4; padding-left:15px; font-size:11px; font-weight:bold; letter-spacing:1px; ">{%trans%} Energy demand  {%endtrans%} (kWh)</td>
									{% for i in 0..6 %}
										<td>{{ dataActionPlan[i].day_consumption|round(1, 'floor') }}</td>				
									{% endfor %}
								</tr>
								<tr style="border-bottom:1px solid #efefef;">
									<td colspan="2" style=" border-right: 2px solid #efefef; text-align:left; color:#0069b4; padding-left:15px; font-size:11px; font-weight:bold; letter-spacing:1px; ">{%trans%} Difference between energy demand and electricity produced{%endtrans%} (kWh) </td>
									{% for i in 0..6 %}
										<td>{{ dataActionPlan[i].day_difference|round(1, 'floor') }}</td>				
									{% endfor %}							
								</tr>
								<tr>
									<td colspan="2" style=" border-right: 2px solid #efefef; text-align:left; color:#0069b4; padding-left:15px; font-size:11px; font-weight:bold; letter-spacing:1px; ">{%trans%} Purchase energy price {%endtrans%}(€/kWh) </td>
									{% for i in 0..6 %}
										<td>{{ dataActionPlan[i].purchase_price }}</td>				
									{% endfor %}								
								</tr>
								<tr>
									<td class="lastFirstBlock" colspan="2" style=" border-right: 2px solid #efefef; text-align:left; color:#0069b4; padding-left:15px; font-size:11px; font-weight:bold; letter-spacing:1px; ">{%trans%} Selling energy price{%endtrans%} (€/kWh) </td>
									{% for i in 0..6 %}
										<td class="lastFirstBlock">{{ dataActionPlan[i].selling_price }}</td>				
									{% endfor %}							
								</tr>
								<!--<tr id="showSchedule">
									<td style="background-color:#aeaaaa; text-align:left; border-top:2px solid #efefef; border-bottom:2px solid #efefef; padding-left:15px;" colspan="9"> &#9660; {%trans%} show schedule (per hours) {%endtrans%}</td>
								</tr>-->
								
								{% set aRow=[] %}
								{% set row=25 %}
								{% for i in 0..23 %}
								
									{% set rowDay=0 %}
									{% for j in 0..6 %}
										{% if dataActionPlan[j].calculation[i] is defined %}		
											{% if dataActionPlan[j].strategy is defined %}
												{% if (dataActionPlan[j].calculation[i].message)=='-'%}
													{% set rowDay=rowDay+1 %}
												{% endif%}
											{% else %}
												{% set rowDay=rowDay+1 %}
											{% endif%}
										{% else %}
											{% set rowDay=rowDay+1 %}
										{% endif%}
									{% endfor %}
									
									{% if rowDay==7 %}										
										{% set row=row-1 %}
									{% endif%}
									
									{% set aRow=aRow |merge ([rowDay])%}
								{% endfor %}
									
								
								<!-- FIRST COLUMN -->
								<tr class="showDiv">
									<td class="firstCellShowDiv" rowspan="{{ row  }}" style=" border-bottom: 2px solid #efefef; text-align:left; color:#0069b4; padding-left:15px; font-size:11px; font-weight:bold; letter-spacing:1px; ">{%trans%} Daily Energy Cost {%endtrans%}<br><br>{%trans%} (Production in kW/h)  {%endtrans%}</td> <!-- 25 -->
								</tr>
								
								{% for i in 0..23 %}									
									{% if aRow[i]!=7  %}
									<tr class="showDiv">
									
										<!-- TIME COLUMN -->
										<td class="secondCellShowDiv" style=" border-right: 2px solid #efefef; {%if(i==23)%} border-bottom: 2px solid #efefef; {% endif %}">
											{{ i }}:00 - {{ i+1}}:00 h 
												
												{% set print=1 %}
												{% for j in i+1..aRow|length -1 %}
													{% if aRow[j]!=7 or i==23 %}
														{% set print=0 %}							
													{% endif %}
												{% endfor %}
												{% if print==1 %}
													<img class="showGraphs" src="{{ asset('bundles/optimus/img/i_show_grafica.png') }}"/>
												{% endif %} 
										</td>										
																
										<!-- WEEK DAYS COLUMNS -->
										
										{% for j in 0..6 %}
											{% if dataActionPlan[j].calculation[i] is defined %}		
												{% if dataActionPlan[j].strategy is defined %}
													
													{% set title='' %}
													{% set bold='' %}
													<!-- CONTENT CELL -->												
													{% set valueCellByHour=(dataActionPlan[j].calculation[i].message) %}
													
													{% set valueCellByHourBefore=(dataActionPlan[j].calculation[i].energy_production_before*dataActionPlan[j].calculation[i].energy_price_before)|round(1, 'floor')%}
													
													{% if valueCellByHour != valueCellByHourBefore %}
														{% set title='before '~valueCellByHourBefore %}
														{% set bold='font-weight:bold;' %}
														{% set diferentValue=true %}
														
													{% endif%}
											
													<!-- DAILY COLUMNS (ACCORDING TO THE STRATEGY) -->
												
														{% if dataActionPlan[j].calculation[i].suggestion == 1 %}
														   </td>
															  <td 
																	{% if( dataActionPlan[j].day=='now'|date('Y-m-d'))%} 
																				class="selectedDayCell" 
																	{% endif %}
															  style="background-color:#{{ dataActionPlan[j].calculation[i].color_suggestion }};
																	{% if(i==23)%} 
																	   border-bottom: 2px solid #efefef; 
														   {% endif %} 
																	{{bold}}" title='{{ valueCellByHour }} ({{ dataActionPlan[j].strategy }}) {{title}}'>
												  {% elseif dataActionPlan[j].calculation[i].suggestion == 0 %}
															  </td>
															  <td
															  {% if( dataActionPlan[j].day=='now'|date('Y-m-d'))%} 
																	class="selectedDayCell"  
															  {% endif %}
															  style="background-color:#{{ dataActionPlan[j].calculation[i].color_suggestion }};
																	{% if(i==23)%} 
																	   border-bottom: 2px solid #efefef; 
																	{% endif %} 
																	{{bold}}" title='{{ valueCellByHour }} ({{ dataActionPlan[j].strategy }}) {{title}}'>
														{% else %}
															  </td>
															  <td
																{% if( dataActionPlan[j].day=='now'|date('Y-m-d'))%} 
																			class="selectedDayCell" 
																{% endif %}
																style="background-color:#{{ dataActionPlan[j].calculation[i].color_suggestion }};
																{% if(i==23)%} 
																			border-bottom: 2px solid #efefef; 
																{% endif %} 
																{{bold}}" title='{{ valueCellByHour }} {{title}}'>
														{% endif %}
														
														{{ valueCellByHour }}
												
												</td>	
																	
												{% else %}	
													<td style="background-color:#f2f2f2; color: #949494;{%if(i==23)%} border-bottom: 2px solid #efefef; {% endif %}"> {%trans%}no data{%endtrans%}</td>
												{% endif %}
											{% else %}
												<td style="background-color:#f2f2f2; color: #949494;{%if(i==23)%} border-bottom: 2px solid #efefef; {% endif %}"> {%trans%} no data {%endtrans%}</td>
											{% endif %}
										{% endfor %}
								
									</tr>
									{% endif %}
									
									
								{% endfor %}								
								
								{% if dataActionPlan is defined %}	
									{% if dataActionPlan[6] is defined %}
										{% for iStretch in 0..dataActionPlan[6].maxIntervals-1 %}
										
											
										
										
										
        {% if(dataActionPlan[0].options|length > 1) %}																		
								<tr style="display:none;">
									<!-- ROW 1: e.g. AUTO-CONSUMPTION -->
									
									<!-- FIRST COLUMNS Part A -->
									<td class="scheduleStart" rowspan="{{ dataActionPlan[0].options|length-1 }}" style="border-bottom:2px solid #efefef; border-right: 0 none; text-align:left; color:#0069b4; padding-left:15px; font-size:11px; font-weight:bold; letter-spacing:1px; text-transform:uppercase;">
									<strong>{%trans%} Schedule stretch {%endtrans%} {{iStretch+1}}</strong>
									</td>
									
									<!-- FIRST COLUMNS Part B - ROW 1 -->
								 <td style="display:none; width:150px;  border-right: 2px solid #efefef;
									{% if(dataActionPlan[0].options|length-1 == 1) %}
									  border-bottom: 2px solid #efefef;
									{% endif %}									
									">
									{{ dataActionPlan[0].options[1] }}
									<!-- WEEK DAYS COLUMNS -->								
									{% for j in 0..6 %}
										 <td 
											{% if( dataActionPlan[j].day=='now'|date('Y-m-d')) %} class="selectedDayCell value" {% else %} class="value" {% endif %}
											{% if( dataActionPlan[j].day<'now'|date('Y-m-d')) %} style="background-color: #a6a6a6; {% else %} style="background-color: #AAEEAA;{% endif %}
											{% if(dataActionPlan[0].options|length-1 == 1) %}	border-bottom: 2px solid #efefef;{% endif %}
									 ">
											{% for p in 0..dataActionPlan[j].interval|length-1 %}
												{% if( dataActionPlan[j].interval != null) %}
													{% if( dataActionPlan[j].interval[p]["groupView"] == iStretch and 
													       dataActionPlan[j].interval[p]["type"] == 1 )%}
														{{dataActionPlan[j].interval[p]["hour"] }}
													{% endif %}
												{% endif %}
											{% endfor %}																						
										</td>
									{% endfor %}
								</tr>										
								{% endif %}	
								
								{% if(dataActionPlan[0].options|length > 2) %}								
								<tr style="display:none;">
									<!-- FIRST COLUMNS Part B - ROW 2 -->
         <td style="width:150px;  border-right: 2px solid #efefef;
									{% if(dataActionPlan[0].options|length-1 == 2) %}
									  border-bottom: 2px solid #efefef;
									{% endif %}									
									">					
									{{ dataActionPlan[0].options[2] }}
									<!-- WEEK DAYS COLUMNS -->								
									{% for j in 0..6 %}
										<td 
											{% if( dataActionPlan[j].day=='now'|date('Y-m-d')) %} class="selectedDayCell value" {% else %} class="value" {% endif %}
											{% if( dataActionPlan[j].day<'now'|date('Y-m-d')) %} style="background-color: #a6a6a6; {% else %} style="background-color: #AAEEAA;{% endif %}
											{% if(dataActionPlan[0].options|length-1 == 2) %}	border-bottom: 2px solid #efefef;{% endif %}
									 ">
											{% for p in 0..dataActionPlan[j].interval|length-1 %}
												{%if( dataActionPlan[j].interval != null) %}
													{%if( dataActionPlan[j].interval[p]["groupView"] == iStretch and 
													      dataActionPlan[j].interval[p]["type"] == 2 )%}
														{{dataActionPlan[j].interval[p]["hour"] }}
													{% endif %}
												{% endif %}
											{% endfor %}
										</td>
									{% endfor %}
								</tr>						
        {% endif %}								
								
							 {% if(dataActionPlan[0].options|length > 3) %}								
								<tr style="display:none;">
									<!-- FIRST COLUMNS Part B - ROW 3 -->
									<td style="width:150px;  border-right: 2px solid #efefef;
									{% if(dataActionPlan[0].options|length-1 == 3) %}
									  border-bottom: 2px solid #efefef;
									{% endif %}									
									">					
									{{ dataActionPlan[0].options[3] }}
									<!-- WEEK DAYS COLUMNS -->								
									{% for j in 0..6 %}
										<td 
											{% if( dataActionPlan[j].day=='now'|date('Y-m-d')) %} class="selectedDayCell value" {% else %} class="value" {% endif %}
											{% if( dataActionPlan[j].day<'now'|date('Y-m-d')) %} style="background-color: #a6a6a6; {% else %} style="background-color: #AAEEAA;{% endif %}
											{% if(dataActionPlan[0].options|length-1 == 3) %}	border-bottom: 2px solid #efefef;{% endif %}
										">
											{% for p in 0..dataActionPlan[j].interval|length-1 %}
												{%if( dataActionPlan[j].interval != null) %}
													{%if( dataActionPlan[j].interval[p]["groupView"] == iStretch and 
													      dataActionPlan[j].interval[p]["type"] == 3 )%}
														{{dataActionPlan[j].interval[p]["hour"] }}
													{% endif %}
												{% endif %}
											{% endfor %}			
										</td>
									{% endfor %}
								</tr>
								{% endif %}
								
								{% if(dataActionPlan[0].options|length > 4) %}
								<tr style="display:none;">
									<!-- FIRST COLUMNS Part B - ROW 4 -->
									<td style="width:150px; border-right: 2px solid #efefef; 									
									{% if(dataActionPlan[0].options|length-1 == 4) %}
									  border-bottom: 2px solid #efefef;
									{% endif %}									
									">					
									{{ dataActionPlan[0].options[4] }}
									<!-- WEEK DAYS COLUMNS -->								
									{% for j in 0..6 %}
										<td 
											<td 
											{% if( dataActionPlan[j].day=='now'|date('Y-m-d')) %} class="selectedDayCell value" {% else %} class="value" {% endif %}
											{% if( dataActionPlan[j].day<'now'|date('Y-m-d')) %} style="background-color: #a6a6a6; {% else %} style="background-color: #AAEEAA;{% endif %}
											{% if(dataActionPlan[0].options|length-1 == 4) %}	border-bottom: 2px solid #efefef;{% endif %}
										">
											{% for p in 0..dataActionPlan[j].interval|length-1 %}
												{%if( dataActionPlan[j].interval != null) %}
													{%if( dataActionPlan[j].interval[p]["groupView"] == iStretch and 
													      dataActionPlan[j].interval[p]["type"] == 4 )%}
														{{dataActionPlan[j].interval[p]["hour"] }}
													{% endif %}
												{% endif %}
											{% endfor %}			
										</td>
									{% endfor %}
								</tr>
								{% endif %}
											
											
											
											
											
										{% endfor %}
									{% endif %}
								{% endif %}
								
								<!--<tr>
									<td class="value" colspan="2" style="background-color: #d9e1f2; border-right: 2px solid;">{%trans%} Total sold of produced {%endtrans%}</td>
									{% for i in 0..6 %}
										<td class="value">{{ dataActionPlan[i].day_production_sold }}</td>			
									{% endfor %}								
								</tr>							
								<tr style="border-bottom:2px solid;">
									<td class="value" colspan="2" style="background-color: #d9e1f2; border-right: 2px solid;">{%trans%} CO² emissions (TnCO2) {%endtrans%}</td>
									{% for i in 0..6 %}
										<td class="value" style="background-color: #ffe699;">{{ dataActionPlan[i].day_co2_emissions|round(1, 'floor') }}</td>			
									{% endfor %}								
								</tr>-->
								<!--<tr>
									<td class="value" colspan="2" style="background-color: #d9e1f2; border-right: 2px solid;"><strong>{%trans%} Total sold of produced (€) (week) {%endtrans%}</strong></td>
									<td colspan="7" class="finalValue" style="border-bottom: 1px solid; background-color: #e2efda;">
										<strong>{{ weekSoldProducedAcumulated }}</strong>
									</td>						
								</tr>								
								<tr style="border-bottom: 2px solid;">
									<td class="value" colspan="2" style="background-color: #d9e1f2; border-right: 2px solid;"><strong>{%trans%} CO² emissions (TnCO2) (week) {%endtrans%}</strong></td>
									<td colspan="7" class="finalValue" style="background-color: #ffe699;">										
										<strong>{{ weekEmissionsAcumulated }}</strong>
									</td>						
								</tr>-->
								<tr id="rowGraph">
									<td class="value" colspan="2" style="border-right: 2px solid #efefef; text-align:left; color:#0069b4; padding-left:15px; font-size:11px; font-weight:bold; letter-spacing:1px; text-transform:uppercase;"></td>
									
									<td class="value" colspan="7" style="border-right: 2px solid #efefef; text-align:left; color:#0069b4; padding-left:15px; font-size:11px; font-weight:bold; letter-spacing:1px; text-transform:uppercase;">
										{% set diffUnits1=[] %}
										{% set i=0 %}
										{% for unit in unitsAP %}
											{% if unit not in diffUnits1 %}
												<div id="placeholderPartition_{{i}}" style="height:200px;  min-width: 703px; border-bottom:1px solid #efefef; margin-bottom:3px;  background-color:#fff; padding: 0 0 30px 0;">	</div>
												{% set i=i+1 %}
												{% set diffUnits1=diffUnits1 |merge ([unit]) %}
											{% endif %}
										{% endfor %}
									</td>
								</tr>
								
								<tr>
									<td class="value" colspan="2" style="border-right: 2px solid #efefef; text-align:left; color:#0069b4; padding-left:15px; font-size:11px; font-weight:bold; letter-spacing:1px; text-transform:uppercase;"><strong>{%trans%} Please confirm the action plan {%endtrans%}</strong></td>
									
									{% for i in 0..6 %}
										<td style="text-align: left; {%if( dataActionPlan[i].day<'now'|date('Y-m-d'))%} background-color:#f2f2f2; color:#949494; {% endif %}">
											<form id="form_{{i}}" method="post">
									 
												<div class="inputsFilters" style=" float:left; margin-right:3px; min-width: 78px;">
													<p style="font-size:11px; margin:0;">
														<input type="radio" name="filter" value="0" {%if( dataActionPlan[i].day<'now'|date('Y-m-d'))%} disabled="disabled"{% endif %} {% if(dataActionPlan[i].status==0) %} checked="checked" {% endif %} >{%trans%} Unknown {%endtrans%}
													</p>
													<p style="font-size:11px; margin:0;">
														<input type="radio" name="filter" value="1" {%if( dataActionPlan[i].day<'now'|date('Y-m-d'))%} disabled="disabled"{% endif %} {% if(dataActionPlan[i].status==1) %} checked="checked" {% endif %} >{%trans%} Accepted {%endtrans%}
													</p>
													<p style="font-size:11px; margin:0;">
														<input type="radio" name="filter" value="2" {%if( dataActionPlan[i].day<'now'|date('Y-m-d'))%} disabled="disabled"{% endif %} {% if(dataActionPlan[i].status==2) %} checked="checked" {% endif %} >{%trans%} Declined {%endtrans%}
													</p>
													<input type="hidden" value="{{dataActionPlan[i].day|date('Y-m-d') }}" name="day" id="day" />
													<input type="hidden" value="{{idActionPlan}}" name="idActionPlan" id="idActionPlan" />
												</div>
												
											</form>
										</td>
									{% endfor %}
								</tr>							
								
							</tbody>
						</table>
												
						{% endif %}
					</div>
				</div>			
		</div> 
	</div>


	<script>
		$(function(){	
			
			$(".showGraphs").click(function(){
				$("#tooltip").remove();
				$("#bartip").remove();
				$("#rowGraph").slideToggle();
			});
			{% if diferentValue==true %}				
				$('#showSchedule > td').html($('#showSchedule > td').html()+" Check the changes");
			{% endif %}
			
			
			/* ------ PlaceHolder Partition ----- */	
			{% set diffUnits=[] %}
			{% set i=0 %}
			{% for nameUnit,unit in unitsAP %}
				{% if unit not in diffUnits %}
					
					var plot_{{i}}= $.plot($("#placeholderPartition_{{i}}"), [ 		
						{% set maxY=0 %}
						{% set minY=0 %}					
						
						{% for index, Partition in dataPartitions %}						{##}
							{% if Partition|length > 0 %}
							
								{% for idSensorPartition, sensorPartition in Partition %}									
														
									{% for typeData, dataValueSensor in sensorPartition['values'] %}
																				
										{% if (dataValueSensor['values']|length) > 0 %}										
										
											{% set nameSensorPartition=dataValueSensor['name'] %}
											{% if unitsAP[nameSensorPartition]==unit %}										
												
												{
													data: [								
														
														{% for j in 0..dataValueSensor['values']|length-1 %}					
															
															{% set date = dataValueSensor['values'][j].datetime | date("F j, Y H:i:s") %}
															
															{% if typeData=='historical' and (nameSensorPartition=='Energy Production' or nameSensorPartition=='Energy Consumption') %}
															
																{% set finalValue= dataValueSensor['values'][j].value/1000 %}			
																
															{% else %}																
																{% set finalValue= dataValueSensor['values'][j].value %}
																
															{% endif %}	

															{% if j==0 %} 
																{% set minY= finalValue  %}
															{% elseif minY > finalValue %} 
																{% set minY=finalValue  %}
															{% endif %}
															
															{% if maxY < finalValue %} 
																{% set maxY=finalValue %}
															{% endif %}	
															
															[new Date("{{ date }}"), {{ finalValue }}, "{{dataValueSensor['name']}} ({{typeData}}):  {{finalValue |round(2, 'floor')}} ({{dataValueSensor['units']}})" ],		
															
														{% endfor %} 								
														
														{% if typeData =='prediction' %}
															], color:"{{ sensorPartition['color']}}", shadowSize: 0, lines:{show:false}, dashes: { show: true, dashLength:[4, 2], lineWidth:1},				
															//dashes: { show: true }, shadowSize: 0,	
														{% else %}
															], color:"{{ sensorPartition['color']}}", shadowSize: 0, dashes: { show: false}, lines:{show:true, lineWidth:1, fillColor:'#FFFFFF'},						
														{% endif %}												
												},
										
											{% endif %}	
											
										{% endif %}	
										
									{% endfor %}
									
								{% endfor %}		
							
							{% endif %}		
						{% endfor %}
						
					],
					
					{
						grid: {
							canvasText:{show:true},
							hoverable: true,
							clickable: true,
							borderWidth: 0,
							borderColor:"#cacaca",
							minBorderMargin: 0.5,
							axisMargin: 1,
							backgroundColor:'#ffffff',
							autoHighlight: false
						},
						
						/*crosshair: {
							mode: "x"
						},*/
								
						xaxis:{					
							mode: "time", min: new Date("{{ startDate | date('F j, Y H:i:s') }}"), max: new Date("{{ endDate | date('F j, Y H:i:s') }}"), tickLength: 5, font:{size: 11, family: "sans-serif", color:"#626262"}, show:false,					
						},
						yaxis:{min:{{ minY }}, max:{{ maxY }}, tickDecimals: 2,  show:false, labelWidth: 50, labelHeight: 50, reserveSpace: false,  ticks:[{{ minY }}, {{ maxY }}], font:{size: 9, family: "sans-serif", color:"#626262"}},  
						pan:{interactive:true, cursor: "move", frameRate: 20}
					} );
					
					var previousPoint = null;
					var latestPosition = null;
					
					$("#placeholderPartition_{{i}}").bind("plothover", function (event, pos, item) {
						latestPosition = pos;
						/*if (item) {							
							document.body.style.cursor = 'pointer';
							if (previousPoint != item.dataIndex) {
								previousPoint = item.dataIndex;

								$("#tooltip").remove();
								var x = item.datapoint[0],
									y = item.datapoint[1];
									z = item.series.data[item.dataIndex+1][2];
								showTooltip(item.pageX, item.pageY, z);
							}							
						}else{
							document.body.style.cursor = 'default';
							$("#tooltip").remove();
							previousPoint = null;
						}*/
						
						/* -------- */					
							
						var pos = latestPosition;
										
						var axes = plot_{{i}}.getAxes();						
						if (pos.x < axes.xaxis.min || pos.x > axes.xaxis.max ||
							pos.y < axes.yaxis.min || pos.y > axes.yaxis.max) {
							return;
						}
						
						var str='';
						{% for numGrap in 0..diffUnits1|length-1 %}
							var i, j, dataset = plot_{{numGrap}}.getData();
							
							for (i = 0; i < dataset.length; ++i) {							
								var series = dataset[i];
								// Find the nearest points, x-wise
								//console.log(dataset[i]);
								for (j = 0; j < series.data.length; ++j) {
									if (series.data[j][0] > pos.x) {
										break;
									}
								}
								if(series.data[j] !=null )
									str+=series.data[j][2]+"<br/>";						
							}
						{% endfor %}
					
						$("#tooltip").remove();
						$("#bartip").remove();
						showTooltip(pos.pageX, pos.pageY,  str);
						showBarTip(pos.pageX, pos.pageY);
						
						/* ------- */
						
						
						//console.log(pos);
						
					});
					
					{% set i=i+1 %}
					{% set diffUnits=diffUnits|merge([unit]) %}
				{% endif %}	
			{% endfor %}
			
			
			
			
			//Función compartida por todas las gráficas
			function showTooltip(x, y, contents)
			{
				$('<div id="tooltip" style="font-size:12px;">' + contents + '</div>').css( {
					position: 'absolute',
					display: 'none',
					top: y-20,
					left: x + 10,
					border: '1px solid #ddd',
					padding: '10px',				
					'background-color': '#fff',
					//opacity: 0.80
				}).appendTo("body").fadeIn(200);
			}
			
			function showBarTip(page_x, page_y)
			{
				var pos = $("#rowGraph").offset();
				$('<div id="bartip" style="font-size:12px;"></div>').css( {
					position: 'absolute',
					display: 'none',
					top: pos.top,//y-20,
					left: page_x,
					border: '1px solid #ddd',									
					'background-color': '#ff0000',
					width:'1px',
					height: $("#rowGraph").height()
					//opacity: 0.80
				}).appendTo("body").fadeIn(200);
			}
			/* ---------------------------------- */
			
			$("#rowGraph").hide();
		});
	</script>
	
{% endblock %}
