{% extends 'OptimusOptimusBundle:Layouts:layout.html.twig' %}

{% block javascripts %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/optimus/css/ui-lightness/jquery-ui-1.10.3.custom.min.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/optimus/css/source.css') }}"/>
	<script type="text/javascript" src="{{ asset('bundles/optimus/js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ asset('bundles/optimus/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
  
{% endblock %}


{% block content %}
<script type="text/javascript">
		
	$(function(){		
		$("#datepicker").hide();
		$(".showDiv").slideToggle();
		$(".showDiv2").slideToggle();
		
		var startDate;
		var endDate;
		
		var selectCurrentWeek = function() {
			window.setTimeout(function () {
				$('#datepicker').find('.ui-datepicker-current-day a').addClass('ui-state-active')
			}, 1);
		}
		
		$('#datepicker').datepicker( {
			/*showWeek: true,
			firstDay: 1,*/
			showOtherMonths: true,
			selectOtherMonths: true,
			onSelect: function(dateText, inst) { 
				var date = $(this).datepicker('getDate');
								
				/*startDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay());
				endDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay() + 6);*/
				startDate = new Date(date.getFullYear(), date.getMonth(), date.getDate()); //diaSelected
				endDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() + 6); //diaSelected +6
														
				var dateFormat = inst.settings.dateFormat || $.datepicker._defaults.dateFormat;
				$('#startDate').text($.datepicker.formatDate("yy-mm-dd" , startDate, inst.settings )); //dateFormat
				$('#endDate').text($.datepicker.formatDate( "yy-mm-dd", endDate, inst.settings ));
				
				selectCurrentWeek();
				
				//location.href='<?php //echo base_url(); ?>index.php/main_controller/index/'+$('#startDate').html()+'/'+$('#endDate').html()+'/'+timeSelected;
			},
			beforeShowDay: function(date) {
				var cssClass = '';
				if((date >= startDate && date <= endDate) || (date>=new Date('{{ startDate }}') && date <=new Date('{{ endDate }}')))
					cssClass = 'ui-datepicker-current-day';
				return [true, cssClass];
			},
			onChangeMonthYear: function(year, month, inst) {
				selectCurrentWeek();
			}
		});
		
		$(document).on('mousemove', '#datepicker .ui-datepicker-calendar tr', function() { $(this).find('td a').addClass('ui-state-hover');    });
		$(document).on('mouseleave','#datepicker .ui-datepicker-calendar tr', function() { $(this).find('td a').removeClass('ui-state-hover'); });
		
		
		//double-clik on table
		$("#showSchedule").click(function(){
			$(".showDiv").slideToggle();
			$("#showSchedule .closedList").toggle();
			$("#showSchedule .openList").toggle();
		});
		
		$("#showSchedule2").click(function(){
			$(".showDiv2").slideToggle();
			$("#showSchedule2 .closedList").toggle();
			$("#showSchedule2 .openList").toggle();
		});
		
	});
	
	//Show/hide el calendario
	function displayCalendar()
	{
		$("#datepicker").slideToggle();
	}
	
	function createURLView()
	{
		dateI=$("#startDate").html();
		dateF=$("#endDate").html();
		
		var url = "{{ path('energySourcePlan', {'idBuilding':idBuilding,'idAPType':idAPType, 'from':'dateI', 'to':'dateF'}) }}";
		url = url.replace("dateI", $("#startDate").html());
		url = url.replace("dateF", $("#endDate").html());
		
		location.href=url;
		//location.href="{{ path('homepage') }}/"+$('#startDate').html()+"/"+$('#endDate').html()+"/"+timeSelected;
	}
	
	function createURLPredictor()
	{
		dateI=$("#startDate").html();
		dateF=$("#endDate").html();
		
		var url = "{{ path('newCalculateES', {'idBuilding':idBuilding, 'idAPType':idAPType, 'from':'dateI', 'to':'dateF'}) }}";
		url = url.replace("dateI", $("#startDate").html());
		url = url.replace("dateF", $("#endDate").html());
		
		location.href=url;
	}

	google.load('visualization', '1', {packages: ['corechart', 'line']});
    google.setOnLoadCallback(drawChart);
	var data;
	var options;
	var chart;
	
	var res = [{% for i in 0..166 %}
							{{dataActionPlan[i/24].res[i%24] }}, 
					  {% endfor %} 
					  {{dataActionPlan[6].res[167%24] }} ];
					  
	var grid = [{% for i in 0..166 %}
							{{dataActionPlan[i/24].grid[i%24] }}, 
					  {% endfor %} 
					  {{dataActionPlan[6].grid[167%24] }} ];
	
	var load = [{% for i in 0..166 %}
							{{dataActionPlan[i/24].load[i%24] }}, 
					  {% endfor %} 
					  {{dataActionPlan[6].load[167%24] }} ];
	
	var grid_original = [{% for i in 0..166 %}
							{{dataActionPlan[i/24].grid_original[i%24] }}, 
					  {% endfor %} 
					  {{dataActionPlan[6].grid_original[167%24] }} ];

	var load_original = [{% for i in 0..166 %}
							{{dataActionPlan[i/24].load_original[i%24] }}, 
					  {% endfor %} 
					  {{dataActionPlan[6].load_original[167%24] }} ];
					  
	var storage = [{% for i in 0..166 %}
							{{dataActionPlan[i/24].storage[i%24] }}, 
					  {% endfor %} 
					  {{dataActionPlan[6].storage[167%24] }} ];
					  
	var shaving = [{% for i in 0..166 %}
							{{dataActionPlan[i/24].shaving[i%24] }}, 
					  {% endfor %} 
					  {{dataActionPlan[6].shaving[167%24] }} ];
				
	var dif = 0;
	
    function drawChart() {
  
      options = {
        chart: {
          title: 'Energy Data',
          subtitle: 'in kWh'
        },
		colors: ['red','green','blue', 'FireBrick', 'lightblue', 'GreenYellow'],
        width: 899,
        height: 400
      };

      chart = new google.charts.Line(document.getElementById('linechart'));

      
    }
		
	$(document).ready(function(){
		$(".chart_days_li").on("click", function(){
			$( ".chart_days_li" ).each(function() {
				$( this ).attr("class","chart_days_li");
			});
			$(this).attr("class","chart_days_li selected");
			dif = $( ".chart_days_li" ).index( $(this) );
			data = new google.visualization.DataTable();
			data.addColumn('number', 'Hour');
			data.addColumn('number', 'Load');
			data.addColumn('number', 'Res');
			data.addColumn('number', 'Grid');
			data.addColumn('number', 'Load Original');
			data.addColumn('number', 'Grid Original');
			data.addColumn('number', 'Storage');
				
			var newdata=[];
			for (i = dif*24; i < dif*24+24; i++) {
				newdata.push([i%24, load[i], res[i], grid[i], load_original[i], grid_original[i], storage[i]]); 
			}
			data.addRows(newdata);
			
			chart.draw(data, options);
		});
	}); 
	
	
	$(document).ready(function(){
		$("#chart_btn").click(function(){
			$("#chart_div").toggle();
			$("#chart_btn .closedList").toggle();
			$("#chart_btn .openList").toggle();
			if($('#chart_div:visible')){
				
				data = new google.visualization.DataTable();
				data.addColumn('number', 'Hour');
				data.addColumn('number', 'Load');
				data.addColumn('number', 'Res');
				data.addColumn('number', 'Grid');
				data.addColumn('number', 'Load Original');
				data.addColumn('number', 'Grid Original');
				data.addColumn('number', 'Storage');
					
				var newdata=[];
				for (i = dif*24; i < dif*24+24; i++) {
					newdata.push([i%24, load[i], res[i], grid[i], load_original[i], grid_original[i], storage[i]]); 
				}
				data.addRows(newdata);
					
				chart.draw(data, options);
			}
		});
	});
	
	
</script>


	
	<div id="left">	
		{{ render(controller('OptimusOptimusBundle:Building:description', {'idBuilding':idBuilding})) }}		
	</div>
	<div id="right">
		<div id="topRight">
			<p>
				<strong>
				<span style="cursor:pointer;text-decoration:underline;" onclick="location.href='{{ path('init') }}';">{{ optimus_instance }}</span> > 
				<span style="cursor:pointer;text-decoration:underline;" onclick="location.href='{{ path('selectGraph', {'idBuilding':idBuilding} ) }}';">{{ nameBuilding }}</span> > 
				{{ dataActionPlan_name }}
				</strong>
			</p>				
		</div>
		
		<div id="centerRight">
				<div id="indicators" style="background-color:#d0cece; width:99.8%;  overflow:hidden; border:1px solid #7f7f7f;">
					<div style="width:650px;float:left;">
						<p class="titleContentDescription"><strong>Action Plan:</strong> <span>Scheduling the battery use towards energy cost optimization</span></p>
						<p class="titleContentDescription"><strong>Description:</strong> <span style="font-size:11px;">The main goal of the DSS is to schedule the electricity storage of an energy network based on its hourly energy production and consumption data.</span></p>
					</div>
					<div style="float:left; text-align:right;">
						<p style="margin:10px 10px;"><span style="color:#2e75b6">Last forecast calculated:</span> <span><strong>When??</strong></span></p>					
					</div>
				</div>
				
				<div id="indicators" style="background-color:#d0cece; width:99.8%;  overflow:hidden; border:1px solid #7f7f7f; border-top:0px;">	
					<p style="float:left; margin-right:0px; height:15px; padding:10px; margin:0px; width:50px; border-right:1px solid #7f7f7f;  text-align: right;"><strong>Profile:</strong></p>
					<p style="float:left; margin-right:0px; height:15px; padding:10px; margin:0px; width:150px; border-right:1px solid #7f7f7f;  text-align: right;">Summer profile</p>
					<p style="float:left; margin-right:0px; height:15px; padding:10px; margin:0px; width:160px; border-right:1px solid #7f7f7f;  text-align: right;"><strong>Visualization:</strong></p><p style="float:left; margin-right:0px; height:15px; padding:10px; margin:0px;  border-right:1px solid #7f7f7f;  text-align: right;">Daily</p>
				</div>
				
				<div id="indicators" style="background-color:#d0cece; width:99.8%;  overflow:hidden; border:1px solid #7f7f7f;  border-top:0px;">
					<p style="float:left; margin-right:0px; height:15px; padding:10px; margin:0px; width:50px; border-right:1px solid #7f7f7f; text-align: right;"><strong>Dates:</strong></p>
					
					<p style="float:left; margin-right:0px; height:15px; padding:10px 0 10px 10px; margin:0px; width:160px; border-right:1px solid #7f7f7f; text-align:center; background-color: #e8eef8;">
						<span id="startDate">{{ startDate }}</span> / 
						<span id="endDate">{{ endDate }}</span>
					</p>
					<p style="background-color:#e8eef8; float:left; margin:0px; width:40px; height:35px; text-align:center; font-size:16px; line-height:2.3; border-right:1px solid #7f7f7f; cursor:pointer;" onclick="displayCalendar();">+</p>
					
					<p class="buttonIndicator" onclick="createURLView();" style="margin-right:20px;">View</p>
					<p class="buttonIndicator" onclick="createURLPredictor();" style="margin-right:20px;">Calculate</p>
					
					<p>Selected Day: {{  "now"|date("Y-m-d")  }}</p>
				</div>
				<div id="datepicker" style=" margin-bottom:40px; float:left; background-color:#d0cece;"></div>
				
				<div id="contentGraficas">
					<!-- tabla de valores -->
					<div style="float: right;">
						<input type="checkbox" id="loadshift"  name="loadshift" checked >Allow Load Shift
					</div>
					<div class="contentTableResults">
						{% if( dataActionPlan != null) %}
						<table id="tablaActionPlan" border="0" style="font-size: 12px;">
							<tbody>
								<tr class="headerDays">
									<td colspan="2" style="border-right: 2px solid;"></td>
									{% for i in 0..6 %}
									<td>
										{% if dataActionPlan is defined %}	
											{% if dataActionPlan[i] is defined %}	
												{{ (dataActionPlan[i].nameAbbreviatedDay) }}
												{{ (dataActionPlan[i].abbreviatedDay) }}
											{% endif %}
										{% endif %}
									</td>
									{% endfor %}
								</tr>
								
								<!-- Top values --> 
								<tr>
									<td colspan="2" style="background-color: #d9e1f2; border-right: 2px solid;">{%trans%} Load {%endtrans%}(kWh) </td>
									{% for i in 0..6 %}									
										<td style="background-color: #f2f2f2;">{{ dataActionPlan[i].load_total|round(1, 'floor') }}</td>				
									{% endfor %}
								</tr>	
								<tr>
									<td colspan="2" style="background-color: #d9e1f2; border-right: 2px solid;">{%trans%} Grid {%endtrans%}(kWh) </td>
									{% for i in 0..6 %}									
										<td style="background-color: #f2f2f2;">{{ dataActionPlan[i].grid_total|round(1, 'floor') }}</td>				
									{% endfor %}
								</tr>
								<tr>
									<td colspan="2" style="background-color: #d9e1f2; border-right: 2px solid;">{%trans%} Production {%endtrans%}(kWh) </td>
									{% for i in 0..6 %}									
										<td style="background-color: #f2f2f2;">	{{ dataActionPlan[i].res_total|round(1, 'floor') }}</td>				
									{% endfor %}
								</tr>
								
								<!-- Peak Shaving -->
								<tr id="showSchedule">
									<td style="background-color:#aeaaaa; text-align:left; border-top:2px solid; border-bottom:2px solid;" colspan="9"><span class="closedList"> &#9658;</span><span class="openList" hidden>&#9660;</span>{%trans%}Show suggestions for shaving peaks {%endtrans%}</td>
								</tr>
								
								<!-- FIRST COLUMN -->
								<tr class="showDiv">
									<td class="firstCellShowDiv" rowspan="25" style="background-color: #d9e1f2; border-bottom: 2px solid;">{%trans%}Suggestions</br>for shaving peaks {%endtrans%}</td>
								</tr>
								
								{% for i in 0..23 %}
								<tr class="showDiv">
								
									<!-- TIME COLUMN -->
									<td class="secondCellShowDiv" style="background-color: #d9e1f2; border-right: 2px solid; {%if(i==23)%} border-bottom: 2px solid; {% endif %}">{{ i }}:00 - {{ i+1}}:00 h</td>
															
									<!-- WEEK DAYS COLUMNS -->
									{% for j in 0..6 %}
									
										<!-- DAILY COLUMNS -->
									
										{% if dataActionPlan[j].shaving[i] is defined %}		
											<td style="{%if(i==23)%} border-bottom: 2px solid; {% endif %}" 
												{% if(dataActionPlan[j].shaving[i] > 0) %} class="suggestionPos" {% elseif(dataActionPlan[j].shaving[i] < 0) %} class="suggestionNeg" {% endif %} >
												{{ (dataActionPlan[j].shaving[i])   |round(1, 'floor') }}													
											</td>
											
										{% else %}	
											<td style="background-color:#777777;{%if(i==23)%} border-bottom: 2px solid; {% endif %}"> no data </td>
										{% endif %}									
										
									{% endfor %}
									</tr>
								{% endfor %}
								
								<!-- Battery Use -->
								<tr id="showSchedule2">
									<td style="background-color:#aeaaaa; text-align:left; border-top:2px solid; border-bottom:2px solid;" colspan="9"><span class="closedList"> &#9658;</span><span class="openList" hidden>&#9660;</span>{%trans%}Show suggestions for optimizing battery use {%endtrans%}</td>
								</tr>
								
								<!-- FIRST COLUMN -->
								<tr class="showDiv2">
									<td class="firstCellShowDiv2" rowspan="25" style="background-color: #d9e1f2; border-bottom: 2px solid;">{%trans%} Suggestions for</br>optimizing battery use Use {%endtrans%}</td>
								</tr>
								
								{% for i in 0..23 %}
								<tr class="showDiv2">
								
									<!-- TIME COLUMN -->
									<td class="secondCellShowDiv2" style="background-color: #d9e1f2; border-right: 2px solid; {%if(i==23)%} border-bottom: 2px solid; {% endif %}">{{ i }}:00 - {{ i+1}}:00 h</td>
															
									<!-- WEEK DAYS COLUMNS -->
									{% for j in 0..6 %}
									
										<!-- DAILY COLUMNS -->
									
										{% if dataActionPlan[j].storage[i] is defined %}		
											<td {% if( dataActionPlan[j].day=='now'|date('Y-m-d'))%} 
													class="selectedDayCell" 
												{% endif %}
													style="background-color:
												 {%if(i==23)%} border-bottom: 2px solid; {% endif %}" >
												{{ (dataActionPlan[j].storage[i])   |round(1, 'floor') }}													
											</td>
											
										{% else %}	
											<td style="background-color:#777777;{%if(i==23)%} border-bottom: 2px solid; {% endif %}"> no data </td>
										{% endif %}									
										
									{% endfor %}
									</tr>
								{% endfor %}
								
								<!-- Confirm Action Plan -->
								<tr>
									<td class="value" colspan="2" style="background-color: #d9e1f2; border-right: 2px solid;"><strong>{%trans%} Please confirm the action plan {%endtrans%}</strong></td>
									
									{% for i in 0..6 %}
										<td style="text-align: left;">
											<form id="form_{{i}}" method="post">
									 
												<div class="inputsFilters" style=" float:left; margin-right:3px;">
													<p style="font-size:11px; margin:0;">
														<input type="radio" name="filter" value="0" {%if( dataActionPlan[i].day >'now'|date('Y-m-d'))%} disabled="disabled"{% endif %} {% if(dataActionPlan[i].statusDay==0) %} checked="checked" {% endif %} >{%trans%} Unknown {%endtrans%}
													</p>
													<p style="font-size:11px; margin:0;">
														<input type="radio" name="filter" value="1" {%if( dataActionPlan[i].day>'now'|date('Y-m-d'))%} disabled="disabled"{% endif %} {% if(dataActionPlan[i].statusDay==1) %} checked="checked" {% endif %} >{%trans%} Accepted {%endtrans%}
													</p>
													<p style="font-size:11px; margin:0;">
														<input type="radio" name="filter" value="2" {%if( dataActionPlan[i].day>'now'|date('Y-m-d'))%} disabled="disabled"{% endif %} {% if(dataActionPlan[i].statusDay==2) %} checked="checked" {% endif %} >{%trans%} Declined {%endtrans%}
													</p>
													<input type="hidden" value="{{dataActionPlan[i].day|date('Y-m-d') }}" name="day" id="day" />
													<input type="hidden" value="{{idActionPlan}}" name="idActionPlan" id="idActionPlan" />
												</div>
												
											</form>
										</td>
									{% endfor %}
								</tr>
							</tbody>
							
						</table>
						{% endif %}
					</div>
					<button id="chart_btn" style="background-color:#aeaaaa; text-align:left; border-top:1px solid; border-bottom:2px solid;"> <span class="closedList"> &#9658;</span><span class="openList" hidden> &#9660;</span>show graphical schedule (per hour)</button>
					<div id="chart_div" hidden>
						<div id="chart_days" style="font-size: 14px;"><ul>{% for i in 0..6 %} <li class="chart_days_li {% if(i==0) %} selected {% endif %}">{{ (dataActionPlan[i].nameAbbreviatedDay) }} {{ (dataActionPlan[i].abbreviatedDay) }}</li> {% endfor %}</ul/></div>
						<div id="linechart" style="margin-top: 10px; margin-bottom: 10px;" > </div>
					</div>
					
					
					
				</div>
		</div>		
		
	</div>
{% endblock %}