{% extends 'OptimusOptimusBundle:Layouts:layout.html.twig' %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('bundles/optimus/js/jquery-1.11.1.min.js') }}"></script>
	<script  type="text/javascript" src="{{ asset('bundles/optimus/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
{% endblock %}

{% block clase_ActionPlanData %}activo{% endblock %}


{% block content %}

	<div id="left">				
		<ul type="none" style="">
			<li style="background-color:#f6f6f6;"><a style="color:#0069b4;" href="{{path('tracker')}}">Tracker</a></li>
			<li><a href="{{path('cityDashboard')}}">City Dashboard</a></li>
			<li><a href="{{path('init')}}">Buildings</a></li>
		</ul>
		<p>{{ "now"|date('l, F d, Y') }}</p>	
	</div>
	
	<div id="right">	
		<div id="centerRight">
			<p class="textSection">OPTIMUS tracker supports energy managers to assess the potential of your city for energy optimization. It provides information of the users’ targets, their theoretical potential and their current status.</p>

			<div class="track top">
				<p class="titleDiv left">Reduction of energy consumption</p>
				
				{% set EConsTargetPerc= dataTracker.targetEConsumption*100 %}
				{% set EConsTargetWidth= dataTracker.targetEConsumption*100/maxValue %}
				<div class="contentRow">
					<p class="nameRow" style="color:#0095ff;">USER'S TARGET ({{EConsTargetPerc}}%)</p>
					<div class="contentBarRow">
						<p class="bar" style="background-color:#0095ff; width:{{EConsTargetWidth}}%;"></p>
					</div>
				</div>
				
				{% set EConsPotentialPerc= dataTracker.potentialEConsumption*100 %}
				{% set EConsPotentialWidth= dataTracker.potentialEConsumption*100/maxValue %}
				<div class="contentRow">
					<p class="nameRow" style="color:#0095ff;">POTENTIAL ({{EConsPotentialPerc}}%)</p>
					<div class="contentBarRow">
						<p class="bar" style="background-color:#4cb5ff; width:{{EConsPotentialWidth}}%;"></p>
					</div>
				</div>
				
				{% set EConsCStatusWidth= currentStatus[0].statusEConsumption / maxValue %}
				
				<div class="contentRow last">
					<p class="nameRow" style="color:#0095ff;">CURRENT STATUS ({{currentStatus[0].statusEConsumption|round(0)}}%)</p>
					<div class="contentBarRow">
						<p class="bar" style="background-color:#99d5ff; width:{{EConsCStatusWidth}}%;"></p>
					</div>
				</div>				
			</div>
			
			<div class="track">
				<p class="titleDiv left">Reduction of CO2 emissions</p>
				
				{% set ECO2TargetPerc= dataTracker.targetCO2*100 %}
				{% set ECO2TargetWidth= dataTracker.targetCO2*100/maxValue %}
				<div class="contentRow">
					<p class="nameRow" style="color:#9c9d9d;">USER'S TARGET ({{ECO2TargetPerc}}%)</p>
					<div class="contentBarRow">
						<p class="bar" style="background-color:#9c9d9d; width:{{ECO2TargetWidth}}%;"></p>
					</div>
				</div>
				
				{% set ECO2PotentialPerc= dataTracker.potentialCO2*100 %}
				{% set ECO2PotentialWidth= dataTracker.potentialCO2*100/maxValue %}				
				<div class="contentRow">
					<p class="nameRow" style="color:#9c9d9d;">POTENTIAL ({{ECO2PotentialPerc}}%)</p>
					<div class="contentBarRow">
						<p class="bar" style="background-color:#bababa; width:{{ECO2PotentialWidth}}%;"></p>
					</div>
				</div>
				
				{% set ECO2CStatusWidth= currentStatus[0].statusCO2 / maxValue %}
				
				<div class="contentRow last">
					<p class="nameRow" style="color:#9c9d9d;">CURRENT STATUS ({{currentStatus[0].statusCO2|round(0)}}%)</p>
					<div class="contentBarRow">
						<p class="bar"  style="background-color:#cecece; width:{{ECO2CStatusWidth}}%; "></p>
					</div>
				</div>				
			</div>
			
			<div class="track">
				<p class="titleDiv left">Reduction of energy cost</p>
				
				{% set ECostTargetPerc= dataTracker.targetECost*100 %}
				{% set ECostTargetWidth= dataTracker.targetECost*100/maxValue %}
				<div class="contentRow">
					<p class="nameRow" style="color:#f39a00;">USER'S TARGET ({{ECostTargetPerc}}%)</p>
					<div class="contentBarRow">
						<p class="bar" style="background-color:#f39a00; width:{{ECostTargetWidth}}%;"></p>
					</div>
				</div>
				
				{% set ECostPotentialPerc= dataTracker.potentialECost*100 %}
				{% set ECostPotentialWidth= dataTracker.potentialECost*100/maxValue %}		
				<div class="contentRow">
					<p class="nameRow" style="color:#f39a00;">POTENTIAL ({{ECostPotentialPerc}}%)</p>
					<div class="contentBarRow">
						<p class="bar" style="background-color:#f7b859; width:{{ECostPotentialWidth}}%;"></p>
					</div>
				</div>
				
				{% set ECostCStatusWidth= currentStatus[0].statusECost / maxValue %}
				
				<div class="contentRow last">
					<p class="nameRow" style="color:#f39a00;">CURRENT STATUS ({{currentStatus[0].statusECost|round(0)}}%)</p>
					<div class="contentBarRow">
						<p class="bar" style="background-color:#f1d6a4;  width:{{ECostCStatusWidth}}%; "></p>
					</div>
				</div>				
			</div>
			
			<div class="track">
				<p class="titleDiv" style="margin-left:0;">Increase of renewable energy use</p>
				
				{% set REUseTargetPerc= dataTracker.targetREUse*100 %}
				{% set REUseTargetWidth= dataTracker.targetREUse*100/maxValue %}
				<div class="contentRow">
					<p class="nameRow" style="color:#42d890;">USER'S TARGET ({{REUseTargetPerc}}%)</p>
					<div class="contentBarRow">
						<p class="bar" style="background-color:#01d98e; width:{{REUseTargetWidth}}%;"></p>
					</div>
				</div>
				
				{% set REUsePotentialPerc= dataTracker.potentialREUse*100 %}
				{% set REUsePotentialWidth= dataTracker.potentialREUse*100/maxValue %}	
				<div class="contentRow">
					<p class="nameRow" style="color:#42d890;">POTENTIAL ({{REUsePotentialPerc}}%)</p>
					<div class="contentBarRow">
						<p class="bar" style="background-color:#00e4af; width:{{REUsePotentialWidth}}%;"></p>
					</div>
				</div>
				
				{% set REUseCStatusWidth= currentStatus[0].statusREUse / maxValue %}
				
				<div class="contentRow last">
					<p class="nameRow" style="color:#42d890;">CURRENT STATUS ({{currentStatus[0].statusREUse|round(0)}}%)</p>
					<div class="contentBarRow">
						<p class="bar" style="background-color:#b3efd3; width:{{REUseCStatusWidth}}%; "></p>
					</div>
				</div>				
			</div>
			
			<p class="titleDiv" style="margin-left:0;">OPTIMUS SCEAF Rating Chart</p>
			<img src="{{ asset('bundles/optimus/img/' ~ city_name ~ '.png') }}" alt="SCEAF_Chart" height="20%" width="70%"/>	
			
		</div>
	</div>
{% endblock %}