{% extends 'OptimusOptimusBundle:Layouts:layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/optimus/js/jsTree/themes/default/style.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/optimus/css/ui-lightness/jquery-ui-1.10.3.mine.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/optimus/css/occupancy.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/optimus/css/actionPlanTable.css') }}"/>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/optimus/js/jquery-1.11.1.min.js') }}"></script>
    <script  type="text/javascript" src="{{ asset('bundles/optimus/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/optimus/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/optimus/js/jquery.jeditable.min.js') }}"></script>
{% endblock %}

{% block clase_ActionPlanData %}activo{% endblock %}

{% block content %}

    <script type="text/javascript">

        $(function(){

            $("#datepicker").hide();
            $(".showDiv").slideToggle();

            $('.more_info').on('click', function() {
                var content=$(this).attr('data-content');
                $('#'+content).removeClass('hidden');
                var hidden = $(this).attr('data-hidden');
                $('#'+hidden).addClass('hidden');
            });

            $('.less_info').on('click', function() {
                var content=$(this).attr('data-content');
                $('#'+content).removeClass('hidden');
                var hidden=$(this).attr('data-hidden');
                $('#'+hidden).addClass('hidden');
            });

            var start_date = $('#startDate').html();
            var idBuilding = $('#idBuilding').html();
            var idAPType = $('#idAPType').html();

            var startDate;
            var endDate;

            var text = {};

            var selectCurrentWeek = function() {
                window.setTimeout(function () {
                    $('#datepicker').find('.ui-datepicker-current-day a').addClass('ui-state-active')
                }, 1);
            }

            $('#datepicker').datepicker( {
                showOtherMonths: true,
                selectOtherMonths: true,
                onSelect: function(dateText, inst)
                {
                    var date = $(this).datepicker('getDate');
                    startDate = new Date(date.getFullYear(), date.getMonth(), date.getDate()); //diaSelected
                    endDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() + 6); //diaSelected +6

                    var dateFormat = inst.settings.dateFormat || $.datepicker._defaults.dateFormat;
                    $('#startDate').text($.datepicker.formatDate("yy-mm-dd" , startDate, inst.settings )); //dateFormat
                    $('#endDate').text($.datepicker.formatDate( "yy-mm-dd", endDate, inst.settings ));

                    selectCurrentWeek();
                },
                beforeShowDay: function(date) {
                    var cssClass = '';
                    if((date >= startDate && date <= endDate) || (date>=new Date('{{ startDate }}') && date <=new Date('{{ endDate }}')))
                        cssClass = 'ui-datepicker-current-day';
                    return [true, cssClass];
                },
                onChangeMonthYear: function(year, month, inst) {
                    selectCurrentWeek();
                }
            });

            $(document).on('mousemove', '#datepicker .ui-datepicker-calendar tr', function() { $(this).find('td a').addClass('ui-state-hover');    });
            $(document).on('mouseleave','#datepicker .ui-datepicker-calendar tr', function() { $(this).find('td a').removeClass('ui-state-hover'); });

            /* forms */
			{% for i in 0..6 %}
				$("#form_{{i}} ").change (function( event ) { //> input[name*=filter]
					console.log($("#form_{{i}}").serialize());
					//$("#form_{{i}}").submit(function() {
						console.log({{statusWeek[i].status}});
						var url = "{{ path('changeOStatusDay' ,{'idOutputDay':statusWeek[i].idOutputDay} ) }}"; // the script where you handle the form input.
						$.ajax({
							type: "POST",
							url: url,
							data:{ 'data':$("#form_{{i}}").serialize(), idBuilding:{{idBuilding}} }, // serializes the form's elements.
							success: function(data)
							{
								//alert(data); // show response from the php script.
							}
						});

						return false;					
					//});
				});
			{% endfor %}
			
			/* ----- */


            //double-clik on table
            $("#showSchedule").click(function(){
                $(".showDiv").slideToggle();
            });

        });

        //Show/hide el calendario
        function displayCalendar()
        {
            $("#datepicker").slideToggle();
        }

        function createURLView()
        {
            dateI=$("#startDate").html();

            var url = "{{ path('getOccupancyPlan', {'idBuilding':idBuilding, 'idAPType':idAPType, 'start_date':'dateI'}) }}";
            url = url.replace("dateI", $("#startDate").html());

            location.href=url;
        }

        function changeSchedule()
        {
            text = '';
            $('select').each( function(index, value) {
                text = text + ';' + $(this).find('option:selected').text();
            });

            text = text.substring(1);
            dateI=$("#startDate").html();

            var url = "{{  path('getOccupancyPlan', {'idBuilding':idBuilding, 'idAPType':idAPType, 'start_date':'dateI','constraints':'text'}) }}";
            url = url.replace("text", text);
            url = url.replace("dateI", $("#startDate").html());

            location.href=url;
        }
		
		$(function(){
		$(".constraintInput").change(function() {
			changeSchedule();
		});
	});
    </script>
    <style>

        #menuStrategies
        {
            width:100px;
            height:70px;
            position:absolute;
            left: 984px;
            border: 1px solid;
            display:none;
            z-index:9999;
            background-color:#d0cece;
            top: 212px;
        }

        .selectedDayCell
        {
            border-left: 3px solid #00D !Important;
            border-right: 3px solid #00D !Important;
        }

    </style>
    <div id="left">
        <ul type="none" style="">
            <li><a href="{{path('tracker')}}">Tracker</a></li>
            <li><a href="{{path('cityDashboard')}}">City Dashboard</a></li>
            <li style="background-color:#f6f6f6;"><a style="color:#0069b4;" href="{{path('init')}}">Buildings</a></li>
        </ul>
        <p>{{ "now"|date('l, F d, Y') }}</p>
    </div>
    <div id="right">
        <div id="topRight">
            <p>{{ nameBuilding }}</p>

            <ul type="none">
                <li><a href="{{ path('buildingDashboard', {'idBuilding':idBuilding}) }}">Dashboard</a></li>
                <li class="active"><a href="{{ path('listActionPlans', {'idBuilding':idBuilding}) }}">Action Plans</a></li>
                <li><a href="{{ path('prediction', {'idBuilding':idBuilding}) }}">Historical Data</a></li>
                <li><a href="{{ path('tableReports', {'idBuilding':idBuilding, 'insertDB':'ok'} )}}">Weekly Report</a></li>
                <li><a href="{{ path('lastsEvents', {'idBuilding':idBuilding} )}}">User Activity</a></li>
            </ul>
        </div>

        <div id="centerRight">
            <p class="titleDiv">{{ dataActionPlan_name }}</p>
            <p>{{ dataActionPlan_description }}</p>
            {#<p><span style="color:#2e75b6">{%trans%} Last forecast calculated {%endtrans%}:</span> <span><strong>{{ dataActionPlan_lastCalculation }}</strong></span></p>#}

            <div id="indicators">
                <p class="boxContent borderRight">
                    <img src="{{asset('bundles/optimus/img/Calendar.png')}}" />
                </p>

                <p class="dates boxContent borderRight">
                    <span id="startDate">{{ startDate }}</span> /
                    <span id="endDate">{{ endDate }}</span>
                </p>

                <p class="boxContent borderRight" style="cursor:pointer;" onclick="displayCalendar();"><img src="{{asset('bundles/optimus/img/Plus.png')}}" /></p>

                <p class="boxContent borderRight"  style="cursor:pointer;" onclick="createURLView();">
                    <img src="{{asset('bundles/optimus/img/View.png')}}" />
                </p>

            </div>
            <div id="datepicker" style=" margin-bottom:40px; float:left; background-color:#ddd;"></div>

            <div id="contentGraficas">
                <!-- Filtros -->
                <div class="contentTableResults">
                    <div class="tableLegent">
                        <p>a : Number of people to be located</p>
                        <p>b : On <span class="colorIndicator green">&nbsp;&nbsp;&nbsp;&nbsp;</span> with set-point temperature (<sup>o</sup>C) / Off <span class="colorIndicator pink">&nbsp;&nbsp;&nbsp;&nbsp;</span> of the HVAC system</p>
                        <p>c : Constraints Yes/No</p>
                    </div>
                    <table id="tablaActionPlan" class="table_container">
                        <tr class="headerDays">
                            <td class="borderRight" colspan="2">
                                &nbsp;
                            </td>
                            {% for i in 0..6 %}
                                <td colspan="2">
                                    {{ dates[i]|escape|replace({' ':'\<br\>'})|raw }}
                                </td>
                            {% endfor %}
                        </tr>
                        <tr class="headerDays borderBottom">
                            <td class="rawTitle borderRight" colspan="2">
                                Building Partitioning
                            </td>
                            {% for i in 0..6 %}
                                <td>
                                    a
                                </td>
                                <td>
                                    b
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="rawTitle" rowspan="7">
                                Building
                            </td>
                        </tr>
                        <tr>
                            <td class="rawTitle subTitle borderRight">
                                Early morning 1 </br>(6:00-7:00)
                            </td>
                            {% for i in 0..6 %}
                                {% set date = dates[i] %}
                                <td class="cell">
                                    {{ estimated_occupancy[(date)]['Early morning 1'] }}
                                </td>
                                <td class="cell blue">&nbsp;
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="rawTitle subTitle borderRight">
                                Early morning 2 </br>(7:00-8:00)
                            </td>
                            {% for i in 0..6 %}
                                {% set date = dates[i] %}
                                <td class="cell">
                                    {{ estimated_occupancy[(date)]['Early morning 2'] }}
                                </td>
                                <td class="cell blue">&nbsp;
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="rawTitle subTitle borderRight">
                                Early morning 3 </br>(8:00-9:00)
                            </td>
                            {% for i in 0..6 %}
                                {% set date = dates[i] %}
                                <td class="cell">
                                    {{ estimated_occupancy[(date)]['Early morning 3'] }}
                                </td>
                                <td class="cell blue">&nbsp;
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="rawTitle subTitle borderRight">
                                Morning - afternoon </br>(9:00-17:00)
                            </td>
                            {% for i in 0..6 %}
                                {% set date = dates[i] %}
                                <td class="cell">
                                    {{ estimated_occupancy[(date)]['Morning-afternoon'] }}
                                </td>
                                <td class="cell blue">&nbsp;
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="rawTitle subTitle borderRight">
                                Late afternoon 1 </br>(17:00-18:00)
                            </td>
                            {% for i in 0..6 %}
                                {% set date = dates[i] %}
                                <td class="cell">
                                    {{ estimated_occupancy[(date)]['Late afternoon 1'] }}
                                </td>
                                <td class="cell blue">&nbsp;
                                </td>
                            {% endfor %}
                        </tr>
                        <tr class="borderBottom">
                            <td class="rawTitle subTitle borderRight">
                                Late afternoon 2 </br>(18:00-19:00)
                            </td>
                            {% for i in 0..6 %}
                                {% set date = dates[i] %}
                                <td class="cell">
                                    {{ estimated_occupancy[(date)]['Late afternoon 2'] }}
                                </td>
                                <td class="cell blue">&nbsp;
                                </td>
                            {% endfor %}
                        </tr>
                            {% for section in building_sections|keys %}
                                <tr>
                                    <td class="rawTitle"  rowspan="8">
                                        {% for i in 1..building_sections[(section)] %}{% endfor %}{{ section }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="rawTitle subTitle borderRight">
                                        <span style="float:right;text-transform: initial;">-c</span>
                                    </td>
                                    {% set curr_date = date(startDate) %}
                                    {% for i in 0..6 %}
                                        {% set date = dates[i] %}
                                        <td class="cell input {% if 'S' in dates[i] %}disabled{% endif %}" colspan="2">
                                            {% if curr_date < date()|date_modify('-1 day') %}
                                                {% if 'S' not in dates[i] %}{{ partitions[(section)][(date)].constraints }}{% endif %}
                                            {% else %}
                                                <select class="constraintInput {% if 'S' in date %}hidden{% endif %}" data-section="{{ section }}" data-date="{{ date }}" style="width:100%; height:100%;margin:0;">
                                                    <option value="no" {% if partitions[(section)][(date)].constraints == 'No' %}selected{% endif %}>No</option>
                                                    <option value="yes" {% if partitions[(section)][(date)].constraints == 'Yes' %}selected{% endif %}>Yes</option>
                                                </select>
                                            {% endif %}
                                            {% set curr_date = curr_date|date_modify('+1 day') %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            <tr>
                                <td class="rawTitle subTitle borderRight">
                                    Early morning 1 </br>(6:00-7:00)
                                </td>
                                {% for i in 0..6 %}
                                    {% set date = dates[i] %}
                                    <td class="cell {% if 'S' in dates[i] %}disabled{% endif %}">
                                        {% if 'S' not in dates[i] %}{{ partitions[(section)][(date)]['Early morning 1'].no_people }}{% else %}&nbsp;{% endif %}
                                    </td>
                                    <td class="cell {% if 'S' in dates[i] %}disabled{% else %}{% if building_sections[(section)] == 1 %}{% if partitions[(section)][(date)]['Early morning 1'].on_off != 'Off' %}green{% else %}pink{% endif %}{% endif %} {% endif %}">
                                        {% if (building_sections[(section)] == 1) and ('S' not in dates[i]) %}{{ partitions[(section)][(date)]['Early morning 1'].on_off }}{% else %}&nbsp;{% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                                <tr>
                                    <td class="rawTitle subTitle borderRight">
                                        Early morning 2 </br>(7:00-8:00)
                                    </td>
                                    {% for i in 0..6 %}
                                        {% set date = dates[i] %}
                                        <td class="cell {% if 'S' in dates[i] %}disabled{% endif %}">
                                            {% if 'S' not in dates[i] %}{{ partitions[(section)][(date)]['Early morning 2'].no_people }}{% else %}&nbsp;{% endif %}
                                        </td>
                                        <td class="cell {% if 'S' in dates[i] %}disabled{% else %}{% if building_sections[(section)] == 1 %}{% if partitions[(section)][(date)]['Early morning 2'].on_off != 'Off' %}green{% else %}pink{% endif %}{% endif %} {% endif %}">
                                            {% if (building_sections[(section)] == 1) and ('S' not in dates[i]) %}{{ partitions[(section)][(date)]['Early morning 2'].on_off }}{% else %}&nbsp;{% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="rawTitle subTitle borderRight">
                                        Early morning 3 </br>(8:00-9:00)
                                    </td>
                                    {% for i in 0..6 %}
                                        {% set date = dates[i] %}
                                        <td class="cell {% if 'S' in dates[i] %}disabled{% endif %}">
                                            {% if 'S' not in dates[i] %}{{ partitions[(section)][(date)]['Early morning 3'].no_people }}{% else %}&nbsp;{% endif %}
                                        </td>
                                        <td class="cell {% if 'S' in dates[i] %}disabled{% else %}{% if building_sections[(section)] == 1 %}{% if partitions[(section)][(date)]['Early morning 3'].on_off != 'Off' %}green{% else %}pink{% endif %}{% endif %} {% endif %}">
                                            {% if (building_sections[(section)] == 1) and ('S' not in dates[i]) %}{{ partitions[(section)][(date)]['Early morning 3'].on_off }}{% else %}&nbsp;{% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="rawTitle subTitle borderRight">
                                        Morning - afternoon </br>(9:00-17:00)
                                    </td>
                                    {% for i in 0..6 %}
                                        {% set date = dates[i] %}
                                        <td class="cell {% if 'S' in dates[i] %}disabled{% endif %}">
                                            {% if 'S' not in dates[i] %}{{ partitions[(section)][(date)]['Morning-afternoon'].no_people }}{% else %}&nbsp;{% endif %}
                                        </td>
                                        <td class="cell {% if 'S' in dates[i] %}disabled{% else %}{% if building_sections[(section)] == 1 %}{% if partitions[(section)][(date)]['Morning-afternoon'].on_off != 'Off' %}green{% else %}pink{% endif %}{% endif %} {% endif %}">
                                            {% if (building_sections[(section)] == 1) and ('S' not in dates[i]) %}{{ partitions[(section)][(date)]['Morning-afternoon'].on_off }}{% else %}&nbsp;{% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="rawTitle subTitle borderRight">
                                        Late afternoon 1 </br>(17:00-18:00)
                                    </td>
                                    {% for i in 0..6 %}
                                        {% set date = dates[i] %}
                                        <td class="cell {% if 'S' in dates[i] %}disabled{% endif %}">
                                            {% if 'S' not in dates[i] %}{{ partitions[(section)][(date)]['Late afternoon 1'].no_people }}{% else %}&nbsp;{% endif %}
                                        </td>
                                        <td class="cell {% if 'S' in dates[i] %}disabled{% else %}{% if building_sections[(section)] == 1 %}{% if partitions[(section)][(date)]['Late afternoon 1'].on_off != 'Off' %}green{% else %}pink{% endif %}{% endif %} {% endif %}">
                                            {% if (building_sections[(section)] == 1) and ('S' not in dates[i]) %}{{ partitions[(section)][(date)]['Late afternoon 1'].on_off }}{% else %}&nbsp;{% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr class="borderBottom">
                                    <td class="rawTitle subTitle borderRight">
                                        Late afternoon 2 </br>(18:00-19:00)
                                    </td>
                                    {% for i in 0..6 %}
                                        {% set date = dates[i] %}
                                        <td class="cell {% if 'S' in dates[i] %}disabled{% endif %}">
                                            {% if 'S' not in dates[i] %}{{ partitions[(section)][(date)]['Late afternoon 2'].no_people }}{% else %}&nbsp;{% endif %}
                                        </td>
                                        <td class="cell {% if 'S' in dates[i] %}disabled{% else %}{% if building_sections[(section)] == 1 %}{% if partitions[(section)][(date)]['Late afternoon 2'].on_off != 'Off' %}green{% else %}pink{% endif %}{% endif %} {% endif %}">
                                            {% if (building_sections[(section)] == 1) and ('S' not in dates[i]) %}{{ partitions[(section)][(date)]['Late afternoon 2'].on_off }}{% else %}&nbsp;{% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        <tr>
                            <td class="value rawTitle borderRigh" colspan="2">
                                <strong>{%trans%} Please confirm the action plan {%endtrans%}</strong>
                            </td>
                            {% set curr_date = date(startDate) %}
                            {% for i in 0..6 %}
                                <td colspan="2" class="ActionPlanConfirm{% if ('S' in dates[i]) or (curr_date < date()|date_modify('-1 day')) %} disabled{% endif %}">
                                    <form id="form_{{i}}" method="post">
                                        <div class="inputsFilters">
                                            <p>
                                                <input type="radio" name="filter" value="0" {% if ('S' in dates[i]) or (curr_date < date()|date_modify('-1 day')) %} disabled="disabled" {% endif %} {% if(statusWeek[i].status==0) %} checked="checked" {% endif %}>{%trans%} Unknown {%endtrans%}
                                            </p>
                                            <p>
                                                <input type="radio" name="filter" value="1" {% if ('S' in dates[i]) or (curr_date < date()|date_modify('-1 day')) %} disabled="disabled" {% endif %} {% if(statusWeek[i].status==1) %} checked="checked" {% endif %}>{%trans%} Accepted {%endtrans%}
                                            </p>
                                            <p>
                                               <input type="radio" name="filter" value="2" {% if ('S' in dates[i]) or (curr_date < date()|date_modify('-1 day')) %} disabled="disabled" {% endif %} {% if(statusWeek[i].status==2) %} checked="checked" {% endif %}>{%trans%} Declined {%endtrans%}
                                            </p>
                                            {% set interval='+'~i~' day' %}
                                            {% set dateOfDay=date()|date_modify(interval) %}
                                            <input type="hidden" value="{{ dateOfDay|date('Y-m-d') }}" name="day" id="day" />
                                            <input type="hidden" value="{{idActionPlan}}" name="idActionPlan" id="idActionPlan" />
                                        </div>
                                    </form>
                                    {% set curr_date = curr_date|date_modify('+1 day') %}
                                </td>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}