{% extends 'OptimusOptimusBundle:Layouts:layout.html.twig' %}

{% block javascripts %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/optimus/css/ui-lightness/jquery-ui-1.10.3.custom.min.css') }}"/>
<!--	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/optimus/css/source.css') }}"/> -->
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/optimus/css/actionPlanTable.css') }}"/>
	<script type="text/javascript" src="{{ asset('bundles/optimus/js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ asset('bundles/optimus/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
  
{% endblock %}


{% block content %}
<script type="text/javascript">
		
	$(function(){		
		$("#datepicker").hide();
		
		
		var startDate;
		var endDate;
		
		var selectCurrentWeek = function() {
			window.setTimeout(function () {
				$('#datepicker').find('.ui-datepicker-current-day a').addClass('ui-state-active')
			}, 1);
		}
		
		$('#datepicker').datepicker( {
			/*showWeek: true,
			firstDay: 1,*/
			showOtherMonths: true,
			selectOtherMonths: true,
			onSelect: function(dateText, inst) { 
				var date = $(this).datepicker('getDate');
								
				/*startDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay());
				endDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay() + 6);*/
				startDate = new Date(date.getFullYear(), date.getMonth(), date.getDate()); //diaSelected
				endDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() + 6); //diaSelected +6
														
				var dateFormat = inst.settings.dateFormat || $.datepicker._defaults.dateFormat;
				$('#startDate').text($.datepicker.formatDate("yy-mm-dd" , startDate, inst.settings )); //dateFormat
				$('#endDate').text($.datepicker.formatDate( "yy-mm-dd", endDate, inst.settings ));
				
				selectCurrentWeek();
				
				//location.href='<?php //echo base_url(); ?>index.php/main_controller/index/'+$('#startDate').html()+'/'+$('#endDate').html()+'/'+timeSelected;
			},
			beforeShowDay: function(date) {
				var cssClass = '';
				if((date >= startDate && date <= endDate) || (date>=new Date('{{ startDate }}') && date <=new Date('{{ endDate }}')))
					cssClass = 'ui-datepicker-current-day';
				return [true, cssClass];
			},
			onChangeMonthYear: function(year, month, inst) {
				selectCurrentWeek();
			}
		});
		
		$(document).on('mousemove', '#datepicker .ui-datepicker-calendar tr', function() { $(this).find('td a').addClass('ui-state-hover');    });
		$(document).on('mouseleave','#datepicker .ui-datepicker-calendar tr', function() { $(this).find('td a').removeClass('ui-state-hover'); });
		
		
	});
	
	//Show/hide el calendario
	function displayCalendar()
	{
		$("#datepicker").slideToggle();
	}
	
	function createURLView()
	{
		dateI=$("#startDate").html();
		dateF=$("#endDate").html();
		methodSelected = $("#method").val();
		
		var url = "{{ path('economizerPlan', {'idBuilding':idBuilding,'idAPType':idAPType, 'from':'dateI', 'to':'dateF', 'method':'methodSelected'}) }}";
		url = url.replace("dateI", $("#startDate").html());
		url = url.replace("dateF", $("#endDate").html());
		url = url.replace("methodSelected", $("#method").val());
		
		location.href=url;
		//location.href="{{ path('homepage') }}/"+$('#startDate').html()+"/"+$('#endDate').html()+"/"+timeSelected;
	}
	
	function createURLPredictor()
	{
		dateI=$("#startDate").html();
		dateF=$("#endDate").html();
		
		var url = "{{ path('newCalculateEconomizer', {'idBuilding':idBuilding, 'idAPType':idAPType, 'from':'dateI', 'to':'dateF'}) }}";
		url = url.replace("dateI", $("#startDate").html());
		url = url.replace("dateF", $("#endDate").html());
		
		location.href=url;
	}
	
	/* forms */
	{% for i in 0..6 %}
	$(function(){
		$("#form_{{i}} ").change (function( event ) { //> input[name*=filter]
			console.log($("#form_{{i}}").serialize());
			//$("#form_{{i}}").submit(function() {
				console.log({{dataActionPlan[i].statusDay}});
				var url = "{{ path('changeEconomizerStatusDay' ,{'idOutputDay':dataActionPlan[i].idOutputDay} ) }}"; // the script where you handle the form input.
				$.ajax({
					type: "POST",
					url: url,
					data:{ 'data':$("#form_{{i}}").serialize(), idBuilding:{{idBuilding}} }, // serializes the form's elements.
					success: function(data)
					{
						//alert(data); // show response from the php script.
					}
				});

				return false;					
			//});
		});
	});
	{% endfor %}
	
	/* ----- */
	$(function(){
		$("#updateSuggestions").click(function() {
				changeInputs();
		});
	});
	
	
	function changeInputs() {
		{% set text = "text" %}
		var url = "{{ path('changeEconomizerInternalDay') }}"; 
		
		var temp_internal="";
		$( ".temp_internal" ).each(function() {
		  temp_internal += $( this ).val();
		  temp_internal += " ";
		});
		
		var enth_internal="";
		$( ".enth_internal" ).each(function() {
		  enth_internal += $( this ).val();
		  enth_internal += " ";
		});
		
		var idOutputDay="";
		$( ".idOutputDay" ).each(function() {
		  idOutputDay += $( this ).val();
		  idOutputDay += " ";
		});
		
		$.ajax({
			type: "POST",
			url: url,
			data:{ 'temp_internal':temp_internal, 'enth_internal':enth_internal, 'idOutputDay':idOutputDay, idBuilding:{{idBuilding}} }, 
			success: function(response)
			{
				createURLView();
			},
			error: function(response)
			{
				alert('Sorry, we could not change all internal temperatures and enthalpies');
				createURLView();
			}
		});
	}
	
	
	
	{% for i in 0..6 %}
		$(function(){
			$("#enth_internal_{{i}}").change(function() {
					var url = "{{ path('changeEconomizerInternalDay' ,{'idOutputDay':dataActionPlan[i].idOutputDay} ) }}"; 
					$.ajax({
						type: "POST",
						url: url,
						data:{ 'temp_internal':$("#temp_internal_{{i}}").val(), 'enth_internal':$("#enth_internal_{{i}}").val(), idBuilding:{{idBuilding}} }, 
						success: function()
						{
							createURLView();
						},
						error: function()
						{
							alert('Sorry, we could not change internal temperature');
							createURLView();
						}
					});
			});
		});
	{% endfor %}
	
	$(function(){
		$("#method").change(function() {
			createURLView();
		});
		$(".showDiv").slideToggle();
		$("#showSchedule").click(function(){
			$(".showDiv").slideToggle();
		});
	});
	
</script>

	<div id="left">
		<ul type="none" style="">
			<li><a href="{{path('tracker')}}">Tracker</a></li>
			<li><a href="{{path('cityDashboard')}}">City Dashboard</a></li>
			<li style="background-color:#f6f6f6;"><a style="color:#0069b4;" href="{{path('init')}}">Buildings</a></li>
		</ul>
		<p>{{ "now"|date('l, F d, Y') }}</p>
	</div>
	<div id="right">
		<div id="topRight">
			<p>{{ nameBuilding }}</p>

			<ul type="none">
				<li><a href="{{ path('buildingDashboard', {'idBuilding':idBuilding}) }}">Dashboard</a></li>
				<li class="active"><a href="{{ path('listActionPlans', {'idBuilding':idBuilding}) }}">Action Plans</a></li>
				<li><a href="{{ path('prediction', {'idBuilding':idBuilding}) }}">Historical Data</a></li>
				<li><a href="{{ path('tableReports', {'idBuilding':idBuilding, 'insertDB':'ok'} )}}">Weekly Report</a></li>
				<li><a href="{{ path('lastsEvents', {'idBuilding':idBuilding} )}}">User Activity</a></li>
			</ul>
		</div>
		
		<div id="centerRight">
			<p class="titleDiv">{{ dataActionPlan_name }}</p>
			<p>{{ dataActionPlan_description }}</p>
			{#<div style="float: right;"><p><span style="color:#2e75b6">{%trans%} Last forecast calculated {%endtrans%}:</span> <span>{{ dataActionPlan_lastCalculation }}</span></p></div>#}
			<div id="indicators">
				<p class="boxContent borderRight">
					<img src="{{asset('bundles/optimus/img/Calendar.png')}}" />
				</p>

				<p class="dates boxContent borderRight">
					<span id="startDate">{{ startDate }}</span> /
					<span id="endDate">{{ endDate }}</span>
				</p>

				<p class="boxContent borderRight" style="cursor:pointer;" onclick="displayCalendar();"><img src="{{asset('bundles/optimus/img/Plus.png')}}" /></p>

				<p class="boxContent borderRight"  style="cursor:pointer;" onclick="createURLView();">
					<img src="{{asset('bundles/optimus/img/View.png')}}" />
				</p>

				{% if( dataActionPlan != null) %}
				<p class="boxContent borderRight" id="updateSuggestions" style="cursor:pointer;">
					<strong style="color:#0069b4">Update Suggestions</strong>
				</p>
				{% endif %}
				<!-- 
				<p class="boxContent borderRight">
					{%trans%} Last forecast calculated {%endtrans%}: <span>{{ dataActionPlan_lastCalculation }}</span>
				</p>
				-->
				<p style="float: right; padding: 10px; margin: 0px;">
					{%trans%} Method: {%endtrans%}
					<select id="method" name="method" style="cursor: pointer; border: none;">
						<option value="temp" style="background-color: #e8eef8; border: none; " {% if dataActionPlan is defined %} {% if dataActionPlan[0].method == 'temp' %} selected {% endif %} {% endif %} >Temperature</option>
						<option value="enth" style="background-color: #e8eef8; border: none; " {% if dataActionPlan is defined %} {% if dataActionPlan[0].method == 'enth' %} selected {% endif %} {% endif %} >Enthalpy</option>
					</select>
				</p>
			</div>
			<div id="datepicker" style=" margin-bottom:40px; float:left; background-color:#ddd;"></div>
				
				<div id="contentGraficas">
					<!-- tabla de valores -->
					<div style="float: right;">
						<!-- <label for="temperature" style="font-size: 13px;">Internal Temperature (°C)</label> -->
						<!-- <input type="number" class="temperature_internal"  name="temperature" {% if( dataActionPlan != null) %} {% if dataActionPlan is defined %} {% if dataActionPlan[0] is defined %} value="{{dataActionPlan[0].temperature_internal}}" {% endif %} {% endif %} {% endif %} />-->
					</div>
					<div class="contentTableResults">
						{% if( dataActionPlan != null) %}
						{#<button id="updateSuggestions" style="float: right;">Update Suggestions</button>#}
						<table id="tablaActionPlan">
							<tbody>
								<tr class="headerDays">
									<td colspan="2" class="borderRight"></td>
									{% for i in 0..6 %}
									<td>
										{% if dataActionPlan is defined %}
											{% if dataActionPlan[i] is defined %}	
												{{ (dataActionPlan[i].nameAbbreviatedDay) }}</br>
												{{ (dataActionPlan[i].abbreviatedDay) }}
											{% endif %}
										{% endif %}
									</td>
									{% endfor %}
								</tr>
								
								<!-- Top values --> 
								<tr>
									<td colspan="2" class="rawTitle borderRight">{%trans%} Internal Temperature {%endtrans%}(°C) </td>
									{% for i in 0..6 %}									
										<td class="blue"><input type="number" class="temp_internal blue" name="temp_internal_{{i}}" step="0.5" {% if( dataActionPlan != null) %} {% if dataActionPlan is defined %} {% if dataActionPlan[0] is defined %} value="{{dataActionPlan[i].temperature_internal}}" {% endif %} {% endif %} {% endif %} /></td>
									{% endfor %}
								</tr>	
								<tr>
									<td colspan="2" class="rawTitle borderRight">{%trans%} Internal Enthalpy {%endtrans%}(°C) </td>
									{% for i in 0..6 %}									
										<td class="blue"><input type="number" class="enth_internal blue" name="enth_internal_{{i}}" step="0.5" {% if( dataActionPlan != null) %} {% if dataActionPlan is defined %} {% if dataActionPlan[0] is defined %} value="{{dataActionPlan[i].enthalpy_internal}}" {% endif %} {% endif %} {% endif %} /></td>
									{% endfor %}
								</tr>	
								<tr style="display: none;">
									<td colspan="2" style="background-color: #d9e1f2; border-right: 2px solid;"> idOutputDay </td>
									{% for i in 0..6 %}									
										<td style="background-color: #d9e1f2;"><input type="number" class="idOutputDay"  name="idOutputDay_{{i}}" style="width: 50px; background-color: #d9e1f2; border-style:none; margin: 2px;" {% if( dataActionPlan != null) %} {% if dataActionPlan is defined %} {% if dataActionPlan[0] is defined %} value="{{dataActionPlan[i].idOutputDay}}" {% endif %} {% endif %} {% endif %} /></td>				
									{% endfor %}
								</tr>

								<tr id="showSchedule" class="toggleRaw">
									<td colspan="9"> &#9660; {%trans%} show schedule (per hours) {%endtrans%}</td>
								</tr>
								
								<!-- FIRST COLUMN -->
								<tr class="showDiv">
									<td class="firstCellShowDiv rawTitle borderBottom" rowspan="25">{%trans%} Free cooling options {%endtrans%}</td>
								</tr>
								
								{% for i in 0..23 %}
								<tr class="showDiv">
								
									<!-- TIME COLUMN -->
									<td class="secondCellShowDiv borderRight {%if(i==23)%}borderBottom{% endif %}">{{ i }}:00 - {{ i+1}}:00 h</td>
															
									<!-- WEEK DAYS COLUMNS -->
									{% for j in 0..6 %}
									
										<!-- DAILY COLUMNS -->
									
										{% if dataActionPlan[j].rule_result[i] is defined %}		
											<td class="
												{% if( dataActionPlan[j].day=='now'|date('Y-m-d'))%}selectedDayCell{% endif %}
												{%if(i==23)%} borderBottom{% endif %}
												{% if dataActionPlan[j].rule_result[i] == 'Total free cooling' %}
													green
												{% elseif dataActionPlan[j].rule_result[i] == 'Partial free cooling' %}
													orange
												{% elseif dataActionPlan[j].rule_result[i] == 'Minimum outside air' %}
													pink
												{% elseif dataActionPlan[j].rule_result[i] == 'no data' %}
													disabled
												{% endif %}
												">
												{{ (dataActionPlan[j].rule_result[i]) }}													
											</td>
											
										{% else %}	
											<td class="disabled
												{% if( dataActionPlan[j].day=='now'|date('Y-m-d'))%}selectedDayCell{% endif %}
												{%if(i==23)%} borderBottom{% endif %}
												"> no data </td>
										{% endif %}									
										
									{% endfor %}
								</tr>
								{% endfor %}
								
								<tr>
									<td class="value rawTitle borderRight" colspan="2"><strong>{%trans%} Please confirm the action plan {%endtrans%}</strong></td>
									
									{% for i in 0..6 %}
										<td class="ActionPlanConfirm {%if( dataActionPlan[i].day>'now'|date('Y-m-d'))%}disabled{% endif %}">
											<form id="form_{{i}}" method="post">
									 
												<div class="inputsFilters">
													<p>
														<input type="radio" name="filter" value="0" {%if( dataActionPlan[i].day >'now'|date('Y-m-d'))%} disabled="disabled"{% endif %} {% if(dataActionPlan[i].statusDay==0) %} checked="checked" {% endif %} >{%trans%} Unknown {%endtrans%}
													</p>
													<p>
														<input type="radio" name="filter" value="1" {%if( dataActionPlan[i].day>'now'|date('Y-m-d'))%} disabled="disabled"{% endif %} {% if(dataActionPlan[i].statusDay==1) %} checked="checked" {% endif %} >{%trans%} Accepted {%endtrans%}
													</p>
													<p>
														<input type="radio" name="filter" value="2" {%if( dataActionPlan[i].day>'now'|date('Y-m-d'))%} disabled="disabled"{% endif %} {% if(dataActionPlan[i].statusDay==2) %} checked="checked" {% endif %} >{%trans%} Declined {%endtrans%}
													</p>
													<input type="hidden" value="{{dataActionPlan[i].day|date('Y-m-d') }}" name="day" id="day" />
													<input type="hidden" value="{{idActionPlan}}" name="idActionPlan" id="idActionPlan" />
												</div>
												
											</form>
										</td>
									{% endfor %}
								</tr>
							</tbody>
						</table>
						{% endif %}
					</div>
				</div>
		</div>		
		
	</div>
{% endblock %}